:root{
    /* colors */
    --button-orange: #ffbb96;
    --cancel-red: #FF4D4D;
    --accept-blue: #80B3FF;
    --table-gray: #EBEBEB;
    --navmenu-orange: #f3f7ff;
    --navmenu-orange-dark: #6bb2f9;
    --button-orange-hover: #4a78e4;
    --navmenu-gray-dark: #8A8B9F;
    --button-blue: #3E8CFF;
    --button-blue-hover: #1672fc;
    --white: #ffffff;
    --black: #000000;
    --logo-background: #ffde59;
    --shadow-wide: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --input-border: rgb(201, 201, 201) solid 1px;


    /* font sizes */
    --larger: 28px;
    --medium: 18px;
    --mediums: 16px;
    --small: 14px;
    --exsmall: 12px;
}

.body-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    padding-right: 70px;
}

.body-content .tiles{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    justify-content: space-between;
    border-bottom: 2px solid var(--navmenu-gray-dark);
}

.tiles .tile{
    display: flex;
    flex-direction: column;
    width: 15%;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.tiles .tile h1{
    color: #1672fc;
    font-size: 60px;
    font-weight: 900;
    height: 75px;
}

.tiles .tile p{
    font-size: 18px;
}

.graph{
    display: flex;
    flex-direction: row;
    padding: 20px 0px;
    justify-content: space-between;
}

.graph .variable,
.graph .reviews{
    width: 48%;
    padding: 10px;
}
.graph .reviews{
    padding-right: 0px;
}
.graph .variable .chart{
    /* width: 300px; */
    height: 400px;
}
.reviews .contents{
    max-height: 400px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    background-color: var(--table-gray);
}

.reviews h2{
    margin: 5px;
}

.reviews .review{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    display: flex;
    flex-direction: row;
}

.review img{
    width: 70px;
    height: 70px;
    margin-right: 10px;
    border-radius: 50px;
}

.review .review-info{
    width: 100%;
}

.review-info div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.review-info p{
    word-wrap: break-word;
    color: var(--navmenu-gray-dark);
}

.variable{
    border: 2px solid var(--navmenu-orange-dark);
    
    border-radius: 5px;
}

.variable .topic{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dropdowndate{
    padding: 10px;
    border: 1.5px solid var(--button-blue-hover);
    color: var(--black);
    background-color: white;
    border-radius: 5px;
    min-width: 150px;
    appearance: none;
    background-image:
    linear-gradient(45deg, transparent 50%, var(--button-blue-hover) 50%),
    linear-gradient(135deg, var(--button-blue-hover) 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
    background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px);
    background-size:
        5px 5px,
        5px 5px;
    background-repeat: no-repeat;
}

.dropdowndate option{
    color: var(--navmenu-gray-dark);
}

.variable .chart{
    background-color: var(--table-gray);
    height: 400px;
    margin-top: 10px;
    border-radius: 10px;
}


/* companies tab */
.smallerimg{
    height: 70px;
    width: 70px;
    border-radius: 50px;
}
.input.half{
    width: 48%;
    display: flex;
    /* flex-direction: row; */
    gap: 10px;
    /* align-items: center; */
    /* justify-content: left; */
}
.body-content .content-data{
    border: solid 2px transparent;
}
.input.half{
    align-items: left;
}
.input.half.select{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
}
.select select{
    border: 2px solid var(--navmenu-gray-dark);
}
.filters{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.styled-table th,
.styled-table td{
    padding: 20px;
}


/* customers css */
.person{
    border: 2px solid rgba(128, 128, 128, 0.187);
    padding: 10px;
    display: flex;
    flex-direction: row;
    /* justify-content: left; */
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
}

.person img{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    object-fit: cover;
}
.person h3{
    font-size: var(--mediums);
}
.person div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.person div.buttons{
    margin-left: auto;
    flex-direction: row;
}
.person button{
    margin-left: auto;
    padding: 12px;
}
.person button:nth-child(3){
    background-color: var(--navmenu-gray-dark);
}
.person button:nth-child(3):hover{
    background-color: grey;
}
.btn-blue.red{
    background-color: var(--cancel-red);
}
.btn-blue.red:hover{
    background-color: rgb(250, 44, 44);
}
.content-data.customers > div{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}
.content-data.customers > div button{
    margin-left: auto;
}
.content-data.customers h2{
    font-size: var(--medium);
    /* margin-bottom: 15px; */
}
.content-data.customers .ceb{
    padding: 15px;
    min-width: 200px;
    color: white;
    background-color: brown;
    border-radius: 10px;
    font-weight: 600;
    margin-bottom: 10px;
}

/* payments tab css */
.payment{
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-top: 10px;
}
.payment .payment-header{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.payment .payment-header div{
    flex-direction: column;
    width: 40%;
}
.payment .payment-body{
    flex-direction: column;
    width: 100%;
    max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
}
.payment .payment-body.active{
    display: flex;
    max-height: 150px;
    transition: max-height 0.25s ease-in;
}
.payment .payment-header .img{
    margin-left: auto;
    width: 30px;
    height: 30px;
    background-color: rgb(225, 224, 224);
    border-radius: 10px;
    padding: 5px;
    transition: 0.3s ease;
}
.payment .payment-header .img.active{
    transform: rotate(180deg);
}
.payment .payment-header .img:hover{
    background-color: rgb(197, 197, 197);
}
.payment .payment-body > div{
    flex-direction: row;
    width: 100%;
}
.payment .payment-body > div > div{
    width: 40%;
}
.payment-body button{
    margin: 0px;
    width: 25%;
}
.payment-body a.yellow{
    display: flex;
    margin: 0px;
    width: 25%;
    width: 50%;
    background-color: var(--logo-background);
    color: black;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

/* deliveries panel */
.body-content.deliveries .content-data table{
    margin-top: 0px;
}

.body-content.deliverycharges .content-data{
    display: flex;
    flex-direction: row;
}
.deliverycharges .content-data img{
    width: 50%;
    height: auto;
}
.deliverycharges .content-data form{
    width: 50%;
    padding: 20px;
    /* background-color: blue; */
    gap: 10px;
    box-sizing: border-box;
}
.deliverycharges .content-data form h2{
    margin-bottom: 20px;
}
.deliverycharges .content-data form div{
    width: 100%;
    margin: 10px;
    /* background-color: aqua; */
    /* gap: 10px; */
}
.deliverycharges .content-data form div label:first-child{
    width: 130px;
    display: inline-block;
}
.deliverycharges .content-data form div .currency{
    margin-left: 40px;
}
.deliverycharges label.currency {
    border: 2px #ccc solid;
    border-radius: .5em;
    display: inline-flex;
    color: #666;
    overflow: hidden;
    font-size: 1rem;
}
.deliverycharges label.currency:before {
content: attr(data-currency);
width: 3.5em;
background: #e6e6e8;
text-align: center;
font: inherit;
border-right: inherit;
align-items: center;
justify-content: center;
display: flex;
}
.deliverycharges input {
align-items: center;
justify-content: center;
display: flex;
font: inherit;
color: inherit;
padding: 5px;
margin: 0;
}
.deliverycharges input:focus{
    outline: none;
}


/* admin analysis css */
.content-data.analysis{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    border: 2px solid transparent;
    margin: 0px;
}
.content-data.analysis .chart{
    padding: 10px;
    /* border: 3px solid var(--navmenu-orange-dark); */
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 5px;
    padding: 10px;
}
.content-data.analysis .chart h4{
    width: 100%;
    text-align: left;
    padding-left: 10px;
    float: left;
    left: 50px;
}
.content-data .chart{
    width: 47%;
    height: 70%;
    max-height: 350px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/* .content-data .chart canvas#bargraph2,
.content-data .chart canvas#bargraph1{
    max-height: 280px;
    max-width: 350px;
    overflow: hidden;
} */
.body-content .filters{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.body-content .filters .input{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 10px;
    width: fit-content;
}
.body-content .content-data{
    border: 2px solid transparent;
    padding: 0px 0px;
    margin: 0px;
    padding: 5px;
}