*,*::after,::before{
    margin: 0;
    padding: 0;
}

a,button,input[type="button"],input[type="file"]{
    cursor: pointer;
    text-decoration: none;
}

ul li{
    list-style-type: none;
}

table td{
    margin: 0;
    padding: 0;
}

:root{
    /* colors */
    --button-orange: #ffbb96;
    --cancel-red: #FF4D4D;
    --error-red: #c91919;
    --accept-blue: #80B3FF;
    --table-gray: #EBEBEB;
    /* --navmenu-orange: #FFF8F3; */
    --navmenu-blue: #e8f6ff;
    --navmenu-orange: #fdfbf1;
    --navmenu-orange-dark: #d8ca30;
    --button-orange-hover: #bcb60d;
    --navmenu-gray-dark: #8A8B9F;
    --button-blue: #3E8CFF;
    --button-blue-hover: #1672fc;
    --white: #ffffff;
    --black: #000000;
    --logo-background: #ffde59;
    --shadow-wide: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --shadow-3d: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    --input-border: rgb(201, 201, 201) solid 1px;


    /* font sizes */
    --larger: 28px;
    --medium: 18px;
    --mediums: 16px;
    --small: 14px;
    --exsmall: 12px;
}


@font-face{
    src: url(../fonts/Poppins-Medium.ttf);
    font-family: poppins;
}

/*body{
    display: flex;
    flex-direction: row;
    background-color: var(--white);
    width: 100vw;
    height: 100vh;
    font-family: poppins;
    font-style: normal;
    font-size: var(--small);
}*/

/* left panel css */
/*.leftpanel{
    width: 20%;
    max-width: 220px;
    background-color: #f7eaff;
    height: 100%;
    overflow-x: hidden;
}

.leftpanel .project-name{
    display: flex;
    align-items: center;
    padding: 15px;
    color: var(--navmenu-orange-dark);
    font-size: var(--larger);
    font-weight: bold;
    min-height: 15%;
    box-sizing: border-box;
}

.leftpanel ul .panel-tile{
    padding: 10px 15px;
    display: flex;
    font-size: var(--small);
    color: var(--navmenu-gray-dark);
}
.leftpanel ul .panel-tile:hover{
    color: var(--white);
    background-color: var(--button-orange-hover);
}
.leftpanel ul .panel-tile svg{
    min-width: 26px;
    min-height: 26px;
}
.leftpanel ul .panel-tile:hover svg path{
    stroke: var(--white);
}
.leftpanel ul li a h3{
    margin-left: 10px;
}

.leftpanel .nav-tiles .nav-tile .active{
    background-color: var(--button-orange-hover);
}
.leftpanel .nav-tiles .nav-tile .active h3{
    color: var(--white);
}
.leftpanel .nav-tiles .nav-tile a svg path{
    stroke: var(--navmenu-gray-dark);
}
.leftpanel .nav-tiles .nav-tile .active svg path{
    stroke: var(--white);
}*/


/* body section css */
/*.body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}*/

/* body header section css */
/*.body .body-header{
    display: flex;
    flex-direction: row;
    height: 15%;
    padding: 10px 80px 10px 40px;
    box-sizing: border-box;
}
.body-header-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.body-header-left .today{
    font-size: var(--exsmall);
    font-weight: 700;
    color: var(--navmenu-gray-dark);
}
.body-header-left .date{
    font-weight: 700;
    font-size: var(--medium);
}
.body-header-right{
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.body-header-right .bell{
    background-color: transparent;
    border: none;
    margin-right: 20px;
}
.body-header-right .profile,
.body-header-right .profile img{
    border: none;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.logout-menu {
    z-index: 1;
    display: none;
    position: absolute;
    top: 16%;
    right: 3%;
    width: 150px;
    border: #8A8B9F solid 1px;
    border-radius: 5px;
    background-color: var(--white);
}
.logout-menu ul li{
    display: flex;;
    flex-direction: row;
    /* justify-content: center;; */
    /*padding: 8px 10px;
}*/
/*.logout-menu ul li a{
    margin-left: 10px;
}
.logout-menu ul li:last-child svg path{
    stroke: var(--cancel-red);
}
.logout-menu ul li svg:hover{
    fill: none;
}
.logout-menu ul li:last-child a{
    color: var(--cancel-red);
}
.body-header-right svg path{
    stroke: var(--navmenu-orange-dark);
}
/* onclick set this to fill */
/*.body-header-right svg:hover{
    fill: var(--navmenu-orange-dark);
}


/* body content css */
/*.body-content{
    /*display: flex;
    flex-direction: row;*/
    /*box-sizing: border-box;
    padding: 10px 10px 10px 40px;
    height: 85%;
    width: 100%;
    /* padding-bottom: 50px; */
    /*overflow-y: scroll;
    scroll-behavior: smooth;
    /* background-color: var(--navmenu-gray-dark); 
}
.body-content::-webkit-scrollbar{
    display: hidden;
}

.top-panel ul{
    display: inline-flex;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.top-panel ul li{
    float: left;
    width: 100%;
    font-size: var(--medium);
    text-align: center;
}
.top-panel ul li a{
    box-sizing: border-box;
    display: block;
    padding: 10px 10px;
    width: 100%;
    height: 100%;
    color: var(--white);
    background-color: var(--button-orange-hover);
}
/* .top-panel ul li:hover{
    background-color: var(--button-orange);
} */
/* when hovering the bottom border should appear on innactive anchor tags */
/*.top-panel ul li a:hover{
    background-color: var(--white);
    color: var(--button-orange-hover);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /* border-top: solid var(--button-orange-hover);
    border-bottom: solid var(--button-orange-hover);
    border-right: solid var(--button-orange-hover);
    border-left: solid var(--button-orange-hover); 
}
.top-panel ul li .active{
    background-color: var(--white);
    color: var(--button-orange-hover);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /* border-top: solid var(--button-orange-hover);
    border-right: solid var(--button-orange-hover);
    border-left: solid var(--button-orange-hover); 
}

.body-content .content-data{
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 87%;
    border-bottom: solid var(--button-orange-hover);
    border-right: solid var(--button-orange-hover);
    border-left: solid var(--button-orange-hover);
    padding-bottom: 20px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: thin;
}
.content-data::-webkit-scrollbar{
    display: none;
}
.body-content .content-data table{
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin: 25px 0;
    border: 1.5px solid var(--navmenu-gray-dark);
}
.content-data table th{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: none;
    height: 50px;
    color: white;
    font-size: var(--small);
    padding-left: 10px;
    text-align: left;;
    background-color: var(--navmenu-gray-dark);
}
.content-data table td{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 40px;
    text-align: left;
    padding-left: 10px;
}
.content-data table tr:nth-child(odd):hover,
.content-data table tr:nth-child(even):hover{
    background-color: rgb(204, 204, 204);
}
table td input{
    height: 100%;
    width: 100%;
}
.content-data table td:not(:nth-child(3)){
    padding: 10px;
}
.content-data table tr:nth-last-child(2) td:nth-child(3){
    padding: 10px;
}
.content-data table tr:nth-child(odd){
    background-color: var(--table-gray);
}
.content-data .po tr:nth-last-child(1),
.content-data .po tr:nth-last-child(2){
    background-color: transparent;
}
.content-data table tr:nth-last-child(1) td:nth-child(4){
    padding: 0;
}

/* po tab css 
td button{
    width: 100%;
    height: 100%;
    background-color: var(--button-blue);
    border-radius: 5px;
    color: var(--white);
    font-size: var(--mediums);
    border: none;
}
td button:hover{
    background-color: var(--button-blue-hover);
}

/* dashboard body 
.body-content .body-left{
    width: 60%;
    display: flex;
    flex-direction: column;
}

.variable{
    border: 2px solid var(--navmenu-orange-dark);
    padding: 10px;
    border-radius: 5px;
}

.variable .topic{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dropdowndate{
    padding: 10px;
    border: 1.5px solid var(--button-blue-hover);
    color: var(--black);
    background-color: white;
    border-radius: 5px;
    min-width: 150px;
    appearance: none;
    background-image:
    linear-gradient(45deg, transparent 50%, var(--button-blue-hover) 50%),
    linear-gradient(135deg, var(--button-blue-hover) 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
    background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px);
    background-size:
        5px 5px,
        5px 5px;
    background-repeat: no-repeat;
}

.dropdowndate option{
    color: var(--navmenu-gray-dark);
}

.variable .tiles{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.variable .tiles .tile{
    width: 30%;
    height: 134px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.variable .tiles .tile:nth-child(1){
    background-color: #EBEBEB;
}

.variable .tiles .tile:nth-child(2){
    background-color: #B6D3FF;
}

.variable .tiles .tile:nth-child(3){
    background-color: #FAE5E5;
}

.variable .tiles .tile h1{
    font-size: 64px;
    font-weight: bold;
}

.variable .chart{
    background-color: var(--table-gray);
    height: 300px;
    margin-top: 10px;
    border-radius: 10px;
}

.body-left table{
    border-collapse: collapse;
}

.body-left table{
    width: 100%;
    margin-top: 10px;
}

.body-left table tr th{
    background-color: #3E8CFF;
    color: white;
    padding: 10px;
    text-align: left;
}

.body-left table tr td{
    padding: 10px;
}

.body-left table tbody tr:nth-child(odd){
    background-color: var(--table-gray);
}

.body-right{
    box-sizing: border-box;
    width: 50%;
    margin: 0px 60px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.body-right .accordion{
    padding-left: 10px;
    box-sizing: border-box;
    width: 90%;
    border: 2px solid var(--table-gray);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    transition: 0.5s ease;
}

.body-right .new{
    border: 2px solid var(--button-blue);
}
.body-right .dispatched{
    border: 2px solid var(--navmenu-gray-dark);
}

/* .body-right .accordion:hover{
    border: 2px solid var(--button-blue-hover);
} 

.accordion .box{
    /* width: 100%; 
    background-color: var(--navmenu-orange);
    box-sizing: border-box;
    position: relative;
    margin: 5px 0px;
    border-radius: 5px;
    border: 2px solid var(--navmenu-orange-dark);
    overflow-x: scroll;
    scroll-behavior: smooth;
    transition: 0.5s ease;
}

.accordion .box .label{
    box-sizing: border-box;
    font-size: 16px;
    width: 100%;
    /* width: 532px; 
    height: 37px;
    position: relative;
    color: var(--navmenu-orange-dark);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 10px;
}

.accordion .box .label svg{
    width: 25px;
    height: 40px;
    margin-right: 5px;
}

.accordion .box.active .label svg{
    rotate: 180deg;
    color: white;
}
.accordion .box.active .label svg path{
    fill: white;
}

.accordion .box.active .label{
    background-color: var(--navmenu-orange-dark);
    color: white;
}

.accordion .box .content hr{
    color: var(--table-gray);
    margin: 10px 0px;
}

.accordion .box .content{
    box-sizing: border-box;
    position: relative;
    height: 0;
    overflow: hidden;
    transition: 0.3s ease;
    overflow-y: auto;
    padding-left: 10px;
}

.accordion .box.active .content{
    padding: 10px;
    height: max-content;
}

.accordion .box.active .content table{
    width: 100%;
    border-collapse: collapse;
}

.accordion .box.active .content table thead th{
    padding: 10px;
    background-color: #8A8B9F;
    text-align: left;
    color: white;
}

.accordion .box.active .content table tbody td{
    padding: 5px 10px;
}
.accordion .box.active .content table tbody tr:nth-child(odd){
    background-color: var(--table-gray);
}
@font-face{
    src: url(../fonts/Poppins-Medium.ttf);
    font-family: poppins;
}

body {
    background: #fdfdfd;
}
label{
    font-family: poppins;
}
::-webkit-scrollbar{
    margin-left: 5px;
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #888; 
    border-radius: 10px;
  }
::-webkit-scrollbar-thumb {
    background: #deb4f8; 
    border-radius: 10px;
  }
.Container{
    display: flex;
    height: 97.5%;
    background-color: #00C2FF;
}
.Sidebar{
    width: 20%;
    height: 100%;
    background-color: #deb4f8;
    position: fixed;
    top: 0;
    z-index: 1;
}
/*.Dashboard{
    margin-left: 20%;
    width: 80%;
    background-color: white;
}*/
.CompanyIcon{
    width: 20vh;
    height: 10vh;
    color: rgb(0, 0, 0);
    margin: auto;
    margin-top: 20%;
    margin-bottom: 5%;
    font-family: poppins;
    font-size: 3em;
}
.MenuItem{
    width: 80%;
    height: 7vh;
    background-color: #deb4f8;
    margin: auto;
    margin-bottom: 5%;
    border-radius: 5px;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.MenuItem:hover{
    background-color: #c09ad7 !important;
}
.MenuItem>div{
    float: left;
}
.MenuIcon{
    user-select: none;
    -webkit-user-select: none;
    font-size: 10px;
    height: 100%;
    width: 30%;
}
.MenuIcon>img{
    margin-top: 9%;
    margin-left: 25%;
    width: 40px;
    height: 40px;
}
.MenuTitle{
    user-select: none;
    -webkit-user-select: none;
    font-family: poppins;
    font-size: 15pt;
    margin-top: 5%;
    margin-left: 10%;
    color: rgb(0, 0, 0);
}
.TopBar{
    display: flex;
    justify-content: flex-end;
    height: 10%;
    margin-top: -1%;
    margin-bottom: 1%;
}
.BellIcon{
    height: 100%;
    width: 10%;
    background-image: url("../Icons/bell.png");
    background-size: 64px 64px;
    background-repeat: no-repeat;
}
.ProfileIcon{
    height: 10vh;
    width: 10vh;
    border-radius: 10%;
    background-size: 72px 72px;
    background-repeat: no-repeat;
}

.Top:after{
    content: "";
    display: table;
    clear: both;
    
}
.Col_1,.Col_2,.Col_3{
    float: left;
    margin-left: 2%;
    width: 31%;
    height: 50vh;
}
.Col_1{
    background-color: transparent ;
}
.Col_2{
    background-color: transparent;
}
.Col_3{
    background-color: transparent;
}
.Title_1,.Title_2,.Title_3{
    width: 100%;
    height: 14%;
    border-radius: 10px;
}
.Title_1{
    display: flex;
    justify-content: center;
    background-color:#a8a8a8;
}
.Title_2{
    display: flex;
    justify-content: center;
    background-color:#a8a8a8;
}
.Title_3{
    display: flex;
    justify-content: center;
    background-color:#a8a8a8;
}
.tabletitles{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content:space-between;

}
.Content_1,.Content_2,.Content_3{
    margin-top: 3%;
    width: 100%;
    height: 86%;
    border-radius: 10px;
}
.Content_1{
    background-color: #deb4f8;
}
.Content_2{
    overflow-y: auto;
    background-color: transparent;
}
.Content_3{
    background-color: transparent;
    overflow-y: auto;
}
.Content_3::-webkit-scrollbar-thumb {
    background: #00C2FF; 
    border-radius: 10px;
  }
.ChartTitle{
    margin-top: 4%;
    user-select: none;
    -webkit-user-select: none;
    font-family: poppins;
    font-size: 12pt;
    color: black;
}
.Content_2_row{
    font-family: poppins;
    width: 100%;
    height: 14%;
    border-radius: 10px;
    margin-bottom:2px;
    display: flex;
    justify-content: space-between;
    background-color: #FFE6CA;
}
.data_title{
    margin-left: 2%;
    margin-top: 3%;
}
.data_value{
    margin-right: 2%;
    margin-top: 3%;
}
.Content_3_tableHead_row{
    font-family: poppins;
    width: 100%;
    height: 14%;
    border-radius: 10px;
    margin-bottom:2px;
    display: flex;
    justify-content: space-between;
    background-color: #deb4f8;
}
.product_type{
    margin-left: 10%;
    margin-top: 3%;
}
.product_stock{
    margin-right: 10%;
    margin-top: 3%;
}
.Content_3_row{
    font-family: poppins;
    width: 100%;
    height: 14%;
    border-radius: 10px;
    margin-bottom:2px;
    display: flex;
    justify-content: space-between;
    background-color: #deb4f8;
}
.DistributorTableHeadings{
    margin-top: 3%;
    width: 97%;
    margin-left: 2%;
    background-color:#fa0a0a;
    border-radius: 10px;
}
.tableTitles{
    font-family: poppins;
    width: 97%;
    height: 10%;
    border-radius: 10px;
    margin: auto;
    margin-top: 0%;
    margin-bottom:1%;
    display: flex;
    justify-content:start;
    background-color:transparent;
}
.tableTitles>div{
    margin-top: 0%;
}
.DistributorTable{
    margin-left: 2%;
    width: 97%;
    height: 50%;
    border-radius: 10px;
    overflow-y: auto;
    box-sizing: border-box;
    border: 3px solid #deb4f8;
    background-color: transparent;
}
.DistributorTable::-webkit-scrollbar-thumb{
    background: #85B6E2; 
    border-radius: 10px;
}
.Distributor_table_name{
    font-family: poppins;
    width: 100%;
    height: 10%;
    border-radius: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: transparent;
}
.distibutor_title{
    margin-top: 2%;
    color: black;
}
.Distributor_tableHead_row{
    font-family: poppins;
    width: 97%;
    height: 20%;
    border-radius: 10px;
    margin: auto;
    margin-top: 1%;
    margin-bottom:1%;
    display: flex;
    justify-content:start;
    box-sizing: border-box;
    border: 3px solid #deb4f8;
    background-color: transparent;
}
.delete_btn{
    background-color: transparent;
    border-radius: 10px;
    margin:auto;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#col{
    width: 16%;
}
#delete_btn{
    width: 16%;
    margin-left: 1%;
    background-color: #ec3535; 
    color: white;
}
.distributor_name{
    margin-left: 2%;
}
.distributor_capacity{
    margin-right: 0%;
}
.distributor_name,.distributor_location,.distributor_contactno,.distributor_email,.distributor_accountno,.distributor_capacity{
    margin-top: 2%;
    color: black;
}
.product_id{
    margin-left: 0%;
}
.product_id,.product_name,.product_type,.product_unit_price,.product_weight,.product_prod_time,.product_lastUpdated,.product_quantity{
    margin-top: 2%;
    margin-left: 1%;
    color: black;
}
.product_quantity{
    margin-right: 2%;
}
.distributor_email{
    font-size: 9pt
}
.Distributor_table_container{
    width: 97%;
    height: 77%;
    overflow-y: auto;
    background-color: #85B6E2;
    margin: auto;
    border-radius: 10px;
}
.Distributor_table_content{
    height: 100%;
    width: 100%;
    z-index:1;
}
.DealerTableHeadings{
    margin-top: 3%;
    width: 97%;
    margin-left: 2%;
    background-color:#a8a8a8;
    border-radius: 10px;
}
.Dealer_table_name{
    font-family: poppins;
    width: 100%;
    height: 10%;
    border-radius: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: transparent;
}
.DealerTable{
    margin-left: 2%;
    width: 97%;
    height: 50%;
    border-radius: 10px;
    overflow-y: auto;
    box-sizing: border-box;
    border: 3px solid #deb4f8;
    background-color: transparent;
}
.Dealer_name,.Dealer_location,.Dealer_contactno,.Dealer_email,.Dealer_accountno,.Dealer_capacity{
    color: black;
}
.DealerTable::-webkit-scrollbar-thumb{
    background: #31B857; 
    border-radius: 10px;
}

.DealerTableTopics{
    width: 48.5%;
    color: black;
    border: 3px solid;
    box-sizing: border-box;
    border-color: #d8ca30;
    display: flex;
    justify-content: center;
    align-items: center;
}

.DealerTableTopics:focus{
    background-color: #7b15ba;
}
.DealerTableTopics{
    background-color: #ffffff;
}
.dealerTableTitles{
    font-family: poppins;
    width: 97%;
    height: 10%;
    margin: auto;
    margin-top: 0%;
    display: flex;
    justify-content:start;
    background-color:#a8a8a8;
}.DealerTables{
    margin: auto;
    width: 97%;
    height: 65%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow-y: auto;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    box-sizing: border-box;
    border-color: var(--navmenu-orange-dark);
}
.DealerTables::-webkit-scrollbar-thumb{
    background-color: #85B6E2;
}
.ProductTableTopics{
    width: 100%;
    height: 100%;
    color: black;
    outline: 3px solid var(--navmenu-orange-dark);
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.registerProduct{
    margin-left: 5%;
    width: 30%;
    border-radius: 10px;
    border-width: 0px;
    margin-top: 1%;
}
.registerProduct::-webkit-input-placeholder{
    font-family: poppins;
    margin-left: 2%;
}
.submitRegisterProduct{
    color: white;
    margin-left: 5%;
    height: 5vh;
    width: 30%;
    border-radius: 10px;
    border-width: 0px;
    font-family: poppins;
    background-color: var(--navmenu-orange-dark);
}
.submitRegisterProduct:hover{
    background-color: royalblue;
}
.Products_tableHead_row{
    font-family: poppins;
    width: 99%;
    height: 20%;
    border-radius: 10px;
    margin: auto;
    margin-top: 1%;
    margin-bottom:1%;
    display: flex;
    justify-content:start;
    background-color: #85B6E2;
}
#product_col{
    width: 23%;
    background-color:transparent; 
    background-color: transparent;
}
.productTableTitles{
    
    font-family: poppins;
    width: 97%;
    height: 10%;
    margin: auto;
    margin-top: 3px;
    display: flex;
    justify-content:start;   
    background-color:#a8a8a8;
    -webkit-user-select: none;
    
}
.productTableTitles>div{
    margin-left: 0%;
}
#prod_delete_btn{
    width: 16%;
    margin-right:1%;
    background-color: #ec3535; 
    color: white;
}
#prod_delete_btn:hover{
    cursor: pointer;
}
div{
    -webkit-user-select: none;
}
.registerDealer{
    margin-left: 35%;
    height: 4vh;
    width: 30%;
    border-radius: 10px;
    border-width: 0px;
}
.registerDealer::-webkit-input-placeholder{
    font-family: poppins;
    margin-left: 2%;
}
.registerDealer:first-child{
    margin-top: 0%;
}
input[type=text],input[type=email]{
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    outline: none;
}
input[type=text]:focus,input[type=email]:focus{
    border: 3px solid #555;
}
input[type=password]{
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    outline: none;
}
input[type=password]:focus{
    border: 3px solid #555;
}
.dealer_tableHead_row{
    font-family: poppins;
    width: 97%;
    height: 20%;
    border-radius: 10px;
    margin: auto;
    margin-top: 1%;
    margin-bottom:1%;
    display: flex;
    justify-content:start;
    background-color: #85B6E2;
}
.dealer_name,.dealer_location,.dealer_contactno,.dealer_email,.dealer_accountno,.dealer_capacity{
    margin-top: 2%;
    color: black;
}
.dealer_tableHead_row>#col{
    background-color: transparent;
    margin-right: 1px;
}
#dealer_col:first-child{
    margin-left: 1.5%;
}
#dealer_col{
    margin-right: 2px;
    width: 13.5%;
    background-color: transparent;
}
.left{
    width: 70%;
    height: 100%;
}
.right{
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
}.product_reg_row{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.product_reg_row:first-child{
    margin-top: 5%;
}
.productPreview{
    height: 20vh;
    width:20vh;
    border-radius: 10px;
    background-size: 20vh 20vh;
    background-repeat: no-repeat;
    background-color: #b9b6d3;
    outline: 3px solid "#000";
}
::-webkit-file-upload-button {
    font-family: poppins;
    border-radius: 10px;
    height: 100%;
    outline: 3px;
}
input::file-selector-button {
    font-family: poppins;
    border-radius: 10px;
    height: 100%;
    outline: 3px solid black;
}
.right>label{
    margin-left: 13%;
    margin-top: 5vh;
}
select{
    font-family: poppins;
}.distributor_left{
    width: 100%;
    height: 80%;
}
input[type="text"]::placeholder{
    font-family: poppins;
}
.orderCard{
    margin-left: 2%;
    border-radius: 5px;
    margin-top: 1%;
    width: 96%;
    height: 95%;
    background-color: #fdfdfd;
    outline: 5px solid var(--navmenu-orange-dark);
    margin-bottom: 3%;
}
.orderTbl{
    height: 60%;
    overflow-y: auto;
}
.orderRow{
    display: flex;
    flex-direction: row;
    height: 10%;
    width: 100%;
}
.orderColumn{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
}
.orderTable{
    width: 100%;
}
.orderTable th{
    background-color: #be6bf9;
}
.orderTable td, .orderTable th {
    border: 1px solid #ddd;
    padding: 8px;
}
.orderButtons{
    cursor: pointer;
    margin-left: 10%;
    background-color:var(--button-blue) ;
    border-radius: 5px;
    display: flex;
    align-items:center;
    align-content: center;
    justify-content: center;
    width: 40%;
    height: 100%;
}
.orderButtons:nth-child(2){
    margin-right: 10%;
    background-color:#FF4D4D;
}
.orderButtons label{
    color: white;
    font-size: larger;
    text-align: center;
}
.orderButtons label:hover{
    cursor: pointer;
}
.orderButtons:hover{
    cursor: pointer;
    background-color: dodgerblue;
}
.orderButtons:nth-child(2):hover{
    cursor: pointer;
    background-color: #d03d3d;
}
.tdCenter{
    text-align: center;
}
.tdRight{
    text-align: right;
}
.poductQuota{
    display: flex;
    border-radius: 10px;
    margin-left: 2%;
    margin-top: 1%;
    width: 96%;
    height: 20%;
    outline: 5px solid var(--navmenu-orange-dark);
    margin-bottom: 3%;
}
.productQuotaName,.productQuotaCurrent,.productQuotaNew,.productQuotaResetCurrent,.productQuotaSetNew{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-content: center;
    width: 20%;
    height: 100%;
    color: black;
}
.productQuotaCurrent label{
    color: black;
}
.newQuota{
    margin-bottom: 0px;
    height: 50%;
    width: 60%;
    border-radius: 10px;
}
.quotaButtons{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: var(--button-blue);
    width: 100%;
    height: 50%;
    margin-right: 10%;
    border-radius: 10px;
}
.quotaButtons:hover{
    background-color: var(--button-blue-hover);
}
.quotaButtons_2{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: var(--button-blue);
    width: 100%;
    height: 50%;
    margin-right: 10%;
    background-color:#FF4D4D;
    border-radius: 10px;
}
.quotaButtons label,.quotaButtons_2 label{
    color: white;
}
.quotaButtons:hover,.quotaButtons_2:hover,.quotaButtons label:hover,.quotaButtons_2 label:hover{
    cursor: pointer;
}
.card{
    color: white;
    width: 20%;
    height: 20vh;

    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.Top{
    margin-top: 1%;
    display: flex;
    justify-content:space-between;
}
.cmValue{
    color:var(--navmenu-orange-dark);
    margin-top: 8%;
    width: 100%;
    height: 50%;
    font-size: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cmTitle{
    width: 100%;
    height: 30%;
    display: flex;
    color: #000000;
    align-items: center;
    justify-content: center;
    font-size: 1.3vw;
}
.productTableTitle,.recentRequestTableTitle{
    color: white;
    font-size: 2vw;
    background-color: var(--navmenu-orange-dark);
    border-radius: 10px;
    margin-top: 4%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 45%;
    height: 50%;
}
.recentRequestTableTitle{
    margin-right: 5%;
}
.lowStockTable,.pendingReqTable{
    width: 45%;
}
.pendingReqTable{
    margin-left: 5%;
}
.lowStockTable td, .lowStockTable th,.pendingReqTable td,.pendingReqTable th{
    width: 50%;
    border: 1px solid #ddd;
    padding: 8px;
}
.tables{
    height: 70%;
    margin-top: 2%;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.recentRequestTable{
    height: 100%;
    overflow-y: auto;
    margin-right: 5%;
    width: 45%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.productTable{
    height: 50%;
    overflow-y: auto;
    width:45%;
    display: flex;
    justify-content: center;
}
.dealerInfoTable,.distributorInfoTable,.productInfoTable{
    width: 100%;
}
.dealerInfoTable th,.distributorInfoTable th{
    background-color: #be6bf9;
    width: 20%;
    height: 5vh;
}
.productInfoTable th{
    background-color: #be6bf9;
    width: 12.5%;
    height: 5vh;
}
.dealerInfoTable tr:nth-child(even),.distributorInfoTable tr:nth-child(even),.productInfoTable tr:nth-child(even){
    background-color: #deb4f8;
    height: 5vh;
}
.dealerInfoTable tr:nth-child(odd),.distributorInfoTable tr:nth-child(odd),.productInfoTable tr:nth-child(odd){
    background-color: #ae85cc;
    height: 5vh;
}
.analysis_top{
    display: flex;
    width: 100%;
    height: 48.5%;
}
.analysis_bottom{
    display: flex;
    width: 100%;
    height: 45%;
}
.graph{
    width: 50%;
    height: 100%;
}
.qtyInput{
    text-align: right;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .dealerAddButton{
    margin-left:83%;
    width:15%;
    height:80%;
    background-color:var(--button-blue);
    border-radius:40px;
    display:flex;
    align-items:center;
    align-content:center;
    cursor:pointer
  }
  .dealerAddButton:hover{
    background-color: var(--button-blue-hover);
  }
  .getAnalysisButton{
    color: white;
    height: 80%;
    width: 40%;
    background-color: var(--button-blue);
    border-radius: 3em;
    font-family: poppins;
  }
  .getAnalysisButton:hover{
    background-color: var(--button-blue-hover);
    cursor: pointer;
  }
  .generatePDF{
    background-color: var(--button-blue);
  }
  .generatePDF:hover{
    cursor: pointer;
    background-color: var(--button-blue-hover);
  }
/*=========================================================================================================*/




