/* customer body-content css  */
/* under the header top part */
.under_topbar{
    width: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;

}
.top_image{
    display: flex;
    flex-direction: row;
    background-color: var(--button-orange);
    margin: 20px 90px 0px 50px;
    height: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
   
}
.image img{
    width: 100%;
    height: 100%;
    border-radius: 5px 0 0 5px;
}

.image{
    width: 100%;
}

/* top image right side */
.text{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 0px 0px 0px;
    align-items: center;
    justify-content: center;
    /* background-color: black; */
 }


.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--black);
    width: 100%;
    font-size: var(--larger);
}
.any_brand{
    display: flex;
    justify-content: center;
    align-items: center;  
    color: var(--navmenu-orange);
}

.pay{
    display: flex;
    justify-content: center;
    align-items: center;
}

.para{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
     margin-top: 20px;
}

.text .btn:hover button svg{
    fill: var(--button-orange-hover);
}
.text .btn:hover button{
    color: var(--button-orange-hover);
}



.btn button{
    display: flex;
    column-gap: 10px;
    width: 250px;
    height: 50px;
    background-color: var(--navmenu-orange);
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: var(--mediums);
    font-weight: 600;
    cursor: pointer;
}

.btn button:hover{
    fill:var(--button-orange-hover);
}

.btn svg:hover{
    fill: var(--button-orange-hover);
}












/* middle part */
.middle{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin:20px 50px 20px 50px;
    padding-right: 90px;
}



/* middle left side */
.brand_title{
    /* display: flex;
    flex-direction: row; */
    /* margin:20px 50px 20px 50px; */
    column-gap: 50px;
    color: var(--button-orange);
    font-weight: 900;
    font-size: var(--larger); 
}

.brand{
    font-size: var(--small);
}

/* .brand h3{
    word-wrap: normal;
} */

.brand_img{
    display: flex;
    flex-direction: row;
    margin:30px 50px 10px 50px;
    column-gap: 40px;
}
.brand_img div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--button-orange);
    border-radius: 50%;
    height: 150px;
    width: 150px;
} 
.brand img{
    width: 90px;
    height: 90px;
}











/* middle right side */
.order_title{
    /* margin:20px 50px 10px 150px; */
    column-gap: 50px;
    color: var(--button-orange);
    font-weight: 900;
    font-size: var(--larger);
   
   
}

.label svg{
    justify-content: right;
}






.dropdown{
    border: 3px solid var(--button-orange);
    border-radius: 5px;
    width:100%;
    margin:20px 50px 0px 0px;
    box-sizing: border-box;
}

.label{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    /* margin-left: 10px; */
}
.recent_order{
    width: 40%;
    display: block;
}

.recent_order img{
    width: 400px;
    height: 250px;
    /* flex-wrap: wrap; */
    margin-top: 10px;
}

.recent_order .dropdown .content{
    /* display: none; */
    position: relative;
    overflow-y: auto;
    height: 0;
}

.recent_order .active .content{
    /* display: block; */
    height: max-content;
}

.recent_order .active .label svg{
    transform: rotate(180deg);
}

.content{
    margin-left:10px;
    margin-right: 10px;
}


.icon{
   
    display: flex;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
   
}

.icon svg{
    align-items: right;
}


.content table{
    width: 100%;
    margin:10px 0 10px 0px;
    /* background-color: #0BA011; */
    align-items: center;
    border-collapse: collapse;
    border:none;
    
}
.content th, td{
    text-align: center;
    
}

.content table th{
    background-color: var(--button-orange);    
}

.content tr:nth-child(even){background-color: #f2f2f2;}





