/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

*,*::after,::before{
    margin: 0;
    padding: 0;
    border: none;
}

a,svg,button,input[type="button"],input[type="file"]{
    cursor: pointer;
    text-decoration: none;
}
strong{
    font-weight: 700;
}

ul li{
    list-style-type: none;
}

table td{
    margin: 0;
    padding: 0;
}

:root{
    /* colors */
    --button-orange: #ffbb96;
    --cancel-red: #FF4D4D;
    --error-red: #c91919;
    --error-background: #ffe0e0;
    --accept-blue: #80B3FF;
    --active-low: #f7f7f7;
    --table-gray: #EBEBEB;
    --table-header: #008198;
    --navmenu-blue: #e8f6ff;
    --navmenu-orange: #fdeee8;
    --navmenu-orange-dark: #fc7949;
    --button-orange-hover: #fb6833;
    --navmenu-gray-dark: #8A8B9F;
    --button-blue: #3E8CFF;
    --button-blue-hover: #1672fc;
    --white: #ffffff;
    --black: #000000;
    --logo-background: #ffde59;
    --shadow-wide: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --shadow-3d: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    --input-border: rgb(201, 201, 201) solid 1px;
    --currency: rgb(2, 146, 60);



    /* font sizes */
    --larger: 28px;
    --large: 24px;
    --medium: 18px;
    --mediums: 16px;
    --small: 14px;
    --exsmall: 12px;
    --large-numbers: 64px;
}


@font-face{
    src: url(fonts/Poppins-Regular.ttf);
    font-family: poppins;
}

body{
    display: flex;
    flex-direction: row;
    background-color: var(--white);
    width: 100vw;
    height: 100vh;
    font-family: poppins;
    font-style: normal;
    font-size: var(--small);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* left panel css */
.leftpanel{
    width: 20%;
    max-width: 220px;
    background-color: var(--navmenu-orange);
    height: 100%;
    overflow-x: hidden;
    /* box-shadow: rgba(0, 0, 0, 0.171) 2px 1px 3.0px; */
}

.leftpanel .project-name{
    display: flex;
    align-items: center;
    padding: 15px;
    color: var(--navmenu-orange-dark);
    font-size: var(--larger);
    font-weight: bold;
    min-height: 15%;
    box-sizing: border-box;
}

.leftpanel ul .panel-tile{
    padding: 10px 15px;
    display: flex;
    font-size: var(--small);
    color: var(--navmenu-gray-dark);
    transition: 0.3s;
    border-top: rgb(255, 255, 255) solid 2px;
}
.leftpanel ul .panel-tile:hover{
    color: var(--white);
    background-color: var(--button-orange-hover);
}
.leftpanel ul .panel-tile svg path{
    transition: 0.3s;
}
.leftpanel ul .panel-tile svg{
    min-width: 26px;
    min-height: 26px;
}
.leftpanel ul .panel-tile:hover svg path{
    stroke: var(--white);
}
.leftpanel ul li a h3{
    margin-left: 10px;
}

.leftpanel .nav-tiles .nav-tile .active{
    background-color: var(--button-orange-hover);
}
.leftpanel .nav-tiles .nav-tile .active h3{
    color: var(--white);
}
.leftpanel .nav-tiles .nav-tile a svg path{
    stroke: var(--navmenu-gray-dark);
}
.leftpanel .nav-tiles .nav-tile .active svg path{
    stroke: var(--white);
}


/* body section css */
.body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
}

/* body header section css */
.body .body-header{
    display: flex;
    flex-direction: row;
    height: 15%;
    padding: 10px 80px 10px 40px;
    box-sizing: border-box;
}
.body-header-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.body-header-left .today{
    font-size: var(--exsmall);
    font-weight: 700;
    color: var(--navmenu-gray-dark);
}
.body-header-left .date{
    font-weight: 700;
    font-size: var(--medium);
}
.body-header-right{
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.body-header-right .bell{
    background-color: transparent;
    border: none;
    margin-right: 20px;
    height: 20px;
    display: flex;
    flex-direction: row;
}
.body-header-right .bell span{
    position: absolute;
}
.body-header-right .bell p.active{
    position: absolute;
    background-color: rgb(72, 72, 72);
    border-radius: 50px;
    padding: 3px;
    color: white;
    min-width: 15px;
    border: 3px solid white;
    transform: translateX(-35px);
    transform: translateY(-15px);
}
.body-header-right .profile,
.body-header-right .profile img{
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 2;
    object-fit: cover;
}
.logout-menu {
    /* box-sizing: border-box; */
    z-index: 2;
    display: none;
    position: absolute;
    top: 16%;
    /* right: 3%; */
    width: 200px;
    border-radius: 10px;
    /* border: #8A8B9F solid 2px; */
    background-color: var(--table-gray);
}
.logout-menu ul{
    box-sizing: border-box;
    width: 100%;
}
.logout-menu ul li{
    background-color: var(--white);
    display: flex;;
    flex-direction: row;
    /* justify-content: center; */
    margin: 5px;
    /* width: 100%; */
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
}
.logout-menu ul li a{
    margin-left: 10px;
}
.logout-menu ul li:last-child svg path{
    stroke: var(--cancel-red);
}
.logout-menu ul li svg:hover{
    fill: none;
}
.logout-menu ul li:last-child a{
    color: var(--cancel-red);
}
.body-header-right svg path{
    stroke: var(--navmenu-orange-dark);
}
/* onclick set this to fill */
.body-header-right svg{
    fill: var(--navmenu-orange-dark);
}

.logout-menu::before{
    position: absolute;
    content: '';
    /* background-color: rgb(255, 255, 255); */
    width: 0px;
    height: 0px;
    rotate: 45deg;
    left: 58%;
    top: -12px;
    border-top: 15px solid var(--table-gray);
    border-left: 15px solid var(--table-gray);
    border-bottom: 15px solid transparent;
    border-right: 15px solid transparent;
}

body.blur::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-color: Black;
    z-index: 1;
}


/* body content css */
.body-content{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px 40px 10px 40px;
    height: 85%;
    width: 100%;
    /* padding-bottom: 50px; */
    /* overflow-y: scroll; */
    /* scroll-behavior: smooth; */
    transition: 0.5s ease-in-out;
    /* background-color: var(--navmenu-gray-dark); */
}
.body-content.dashboard{
    flex-direction: row;
}
.body-content::-webkit-scrollbar{
    display: hidden;
}

.top-panel ul{
    display: inline-flex;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.top-panel ul li{
    float: left;
    width: 100%;
    font-size: var(--medium);
    text-align: center;
}
.top-panel ul li a{
    box-sizing: border-box;
    display: block;
    padding: 10px 10px;
    width: 100%;
    height: 100%;
    color: var(--white);
    background-color: var(--navmenu-orange-dark);
    transition: 0.3s;
    border-top: solid transparent;
    border-bottom: solid transparent;
    border-right: solid transparent;
    border-left: solid transparent;
}
/* .top-panel ul li:hover{
    background-color: var(--button-orange);
} */
/* when hovering the bottom border should appear on innactive anchor tags */
.top-panel ul li a:not(.active):hover{
    background-color: var(--button-orange-hover);
    /* color: white; */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-top: 2px solid var(--button-orange-hover);
    border-bottom: 2px solid transparent;
    border-right: 2px solid var(--button-orange-hover);
    border-left: 2px solid var(--button-orange-hover);
}
.top-panel ul li .active:hover{
    border-top: 2px solid var(--button-orange-hover);
    border-bottom: 2px solid transparent;
    border-right: 2px solid var(--button-orange-hover);
    border-left: 2px solid var(--button-orange-hover);
}
.top-panel ul li .active{
    background-color: var(--active-low);
    color: var(--button-orange-hover);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-top: 2px solid var(--button-orange-hover);
    border-right: 2px solid var(--button-orange-hover);
    border-left: 2px solid var(--button-orange-hover);
}
.top-panel ul li:first-child a{
    border-radius: 10px 0px 0px 0px;
}
.top-panel ul li:last-child a{
    border-radius: 0px 10px 0px 0px;
}
.top-panel ul:nth-child(2) li a:hover{
    border-top: none;
}
.body-content .content-data{
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 87%;
    border-bottom: 2px solid var(--button-orange-hover);
    border-right: 2px solid var(--button-orange-hover);
    border-left: 2px solid var(--button-orange-hover);
    /* padding-bottom: 20px; */
    /* overflow-y: scroll; */
    /* scroll-behavior: smooth; */
    scrollbar-width: thin;
}
.body-content .top-panel li a{
    border: 2px solid transparent;
}
.content-data::-webkit-scrollbar{
    display: none;
}
/* .content-data table{
    box-sizing: border-box;
    width: 100%;
}
.content-data table th{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: none;
    height: 50px;
    color: white;
    font-size: var(--small);
    padding-left: 10px;
    text-align: left;;
    background-color: var(--navmenu-gray-dark);
}
.content-data table td{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 40px;
    text-align: left;
    padding-left: 10px;
    border: 1.5px solid var(--navmenu-gray-dark);
    
}
.content-data table tr:nth-child(odd):hover,
.content-data table tr:nth-child(even):hover{
    background-color: rgb(204, 204, 204);
}
table td input{
    height: 100%;
    width: 100%;
}
.content-data table tr:nth-last-child(2) td:nth-child(3){
    padding: 10px;
}
.content-data table tr:nth-child(odd){
    background-color: var(--table-gray);
}
.content-data .po tr:nth-last-child(1),
.content-data .po tr:nth-last-child(2){
    background-color: transparent;
}
.content-data table.po tr:nth-last-child(1) td:nth-child(4){
    padding: 0;
}

.content-data table tr{
    transition: 0.3s;
}
table.history tr td:nth-child(2){
    padding: 0px 0px;
}
td:nth-child(3),
td:nth-child(4) {
    max-width: 100px;
    padding: 10px;
}

table .innertable{
    margin: 0px 0px;
    padding: 0px 0px;
    border-collapse: unset;
}

table .innertable tr th{
    background-color: #1672fc;
    padding: 5px 10px;
    height: 17px;
}
table.history .innertable tr td{
    background-color: var(--table-gray);
    padding: 10px;
}
.content-data table.innertable tr:nth-child(even){
    background-color: var(--table-gray);
}
table.po{
    border-collapse: collapse;
    table-layout: fixed;
}
table.po tr, 
table.po tr td{
    border: none;
} */

/* po tab css */
td button{
    width: 100%;
    height: 100%;
    background-color: var(--button-blue);
    border-radius: 5px;
    color: var(--white);
    font-size: var(--mediums);
    border: none;
}
td button:hover{
    background-color: var(--button-blue-hover);
}

/* dashboard body */
.body-content .body-left{
    width: 60%;
    display: flex;
    flex-direction: column;
}

.variable{
    border: 2px solid var(--navmenu-orange-dark);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.variable .topic{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.variable .chart{
    overflow: hidden;
}

.dropdowndate{
    padding: 10px;
    border: 1.5px solid var(--button-blue-hover);
    color: var(--black);
    background-color: white;
    border-radius: 5px;
    min-width: 150px;
    appearance: none;
    background-image:
    linear-gradient(45deg, transparent 50%, var(--button-blue-hover) 50%),
    linear-gradient(135deg, var(--button-blue-hover) 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
    background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px);
    background-size:
        5px 5px,
        5px 5px;
    background-repeat: no-repeat;
}

.dropdowndate option{
    color: var(--navmenu-gray-dark);
}

.variable .tiles{
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.variable .tiles .tile{
    width: 30%;
    height: 134px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.variable .tiles .tile:nth-child(1){
    background-color: #EBEBEB;
}

.variable .tiles .tile:nth-child(2){
    background-color: #B6D3FF;
}

.variable .tiles .tile:nth-child(3){
    background-color: #FAE5E5;
}

.variable .tiles .tile h1{
    font-size: var(--large-numbers);
    font-weight: bold;
}

.variable .chart{
    /* background-color: var(--table-gray); */
    height: 250px;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chart canvas{
    max-height: 300px;
}
.chart canvas.doughnut,
.chart canvas.pie{
    max-width: 380px;
}
.chart #bargraph{
    height: 100%;
}
.chart h4{
    margin-bottom: auto;
}

.body-left table{
    margin-bottom: 20px;
}

.variable .chart img{
    max-height: 250px;
    width: auto;
}

/* .body-left table{
    width: 100%;
    margin-top: 10px;
}

.body-left table tr th{
    background-color: #3E8CFF;
    color: white;
    padding: 10px;
    text-align: left;
}

.body-left table tr td{
    padding: 10px;
}

.body-left table tbody tr:nth-child(odd){
    background-color: var(--table-gray);
} */

.body-right{
    box-sizing: border-box;
    width: 50%;
    /* margin: 0px 60px; */
    margin-left: 40px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.body-right .accordion{
    padding-left: 10px;
    box-sizing: border-box;
    width: 100%;
    border: 2px solid var(--table-gray);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    transition: 0.5s ease;
}

.body-right .new{
    border: 2px solid var(--table-header);
}
.body-right .dispatched{
    border: 2px solid var(--navmenu-gray-dark);
}

/* .body-right .accordion:hover{
    border: 2px solid var(--button-blue-hover);
} */

.accordion .box{
    /* width: 100%; */
    /* background-color: var(--navmenu-orange); */
    box-sizing: border-box;
    position: relative;
    margin: 5px 0px;
    border-radius: 5px;
    border: 2px solid var(--navmenu-orange-dark);
    overflow-x: scroll;
    scroll-behavior: smooth;
    transition: 0.5s ease;
}

.accordion .box .label{
    box-sizing: border-box;
    font-size: 16px;
    width: 100%;
    /* width: 532px; */
    height: 37px;
    position: relative;
    color: var(--navmenu-orange-dark);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 10px;
}

.accordion .box .label svg{
    width: 25px;
    height: 40px;
    margin-right: 5px;
}

.accordion .box.active .label svg{
    rotate: 180deg;
    color: white;
}
.accordion .box.active .label svg path{
    fill: white;
}

.accordion .box.active .label{
    background-color: var(--navmenu-orange-dark);
    color: white;
}

.accordion .box .content hr{
    color: var(--table-gray);
    margin: 10px 0px;
}

.accordion .box .content{
    box-sizing: border-box;
    position: relative;
    height: 0;
    overflow: hidden;
    transition: 0.3s ease;
    overflow-y: auto;
    padding-left: 10px;
}

.accordion .box.active .content{
    padding: 10px;
    height: max-content;
}

/* .accordion .box.active .content table{
    width: 100%;
    border-collapse: collapse;
}

.accordion .box.active .content table thead th{
    padding: 10px;
    background-color: #8A8B9F;
    text-align: left;
    color: white;
}

.accordion .box.active .content table tbody td{
    padding: 5px 10px;
}
.accordion .box.active .content table tbody tr:nth-child(odd){
    background-color: var(--table-gray);
} */

.error-txt{
    width: 100%;
    padding: 10px;
    color: var(--error-red);
    background-color: var(--error-background);
    display: flex;
    justify-content: center;
}

.error-txt.dashboard{
    box-sizing: border-box;
    position : absolute;
    z-index: 3;
    width: 94%;
    padding: 10px;
    margin: 20px 80px 10px 40px;
    justify-self: center;
    border-radius: 15px;
    border: 2px solid #e3968f;
    background-color: var(--error-background);
    align-items: left;
    justify-content: left;
    transition: ease-in 0.5s;
    color: black;
}
.error-txt.dashboard a{
    margin-right: 15px;
}
.error-txt.dashboard a svg path{
    stroke: #e3968f;
}


.styled-table {
    border-collapse: collapse;
    /* margin: 20px 0; */
    font-size: var(--small);
    width: 100%;
    min-width: 400px;
    /* table-layout: fixed; */
}
.styled-table thead{
    table-layout: fixed;
}
.styled-table thead tr {
    /* background-color: var(--table-header); */
    /* background-color: black;; */
    color: #ffffff;
    text-align: left;
}
.styled-table thead tr th{
    z-index: 1;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    width: auto;
}
.styled-table tbody{
    /* display:block; */
    width: 100%;
    overflow: auto;
    height: 100px;
    table-layout: fixed;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
    transition: 0.3s;
}
.styled-table tbody tr:hover{
    background-color: #e9e9e9;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--table-header);
}

.styled-table tbody tr.active-row {
    font-weight: bold;
}
.styled-table button,
.styled-table input{
    padding: 10px;
    border-radius: 10px;
    border: var(--button-blue-hover) 2px solid;
}
.styled-table thead th{
    background-color: var(--table-header);
    position: sticky;
    top: 0;
}
/* .styled-table thead td{
    display: table;
    width: 100%;
} */


#show-toast{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    background-color: #101020;
    color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
}
#toast{
    width: 480px;
    /* height: 80px; */
    z-index: 2;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 10px 20px rgba(75, 50, 50, 0.406);
    border-radius: 7px;
    display: grid;
    grid-template-columns: 0.5fr 6fr 0.5fr;
    right: 20px;
    transform: translateX(600px);
    bottom: 20px;
    transition: 1s;
    position: absolute;
    font-size: var(--mediums);
}
#toast.error{
    border-left: 8px solid #ec4d4d;
}
#toast.success{
    border-left: 8px solid #47d764;
}
.container-1,.container-2{
    align-self: center;
}
.container-1 i{
    font-size: 40px;
    color: #47d764;
}
.container-2 p:first-child{
    color: #101020;
    font-weight: 600;
    font-size: 20px;
}
.container-2 p:last-child{
    font-size: 14px;
    color: #656565;
    font-weight: 400;
}
#toast button{
    align-self: flex-start;
    background-color: transparent;
    font-size: 25px;
    line-height: 0;
    color: #656565;
    cursor: pointer;
}


/* profile css */

.content-data.profile{
    display: flex;
    flex-direction: row;
    border-top: 3px solid var(--button-orange);
}

.prof-nav{
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    align-items: center;
}

.prof-nav img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid var(--table-gray);
}
.prof-nav ul{
    width: 100%;
    align-items: center;
}
.prof-nav ul li{
    width: 100%;
    margin-top: 10px;
    justify-content: center;
    display: flex;
}
.prof-nav ul li a{
    display: block;
    border-radius: 10px;
    text-align: center;
    background-color: var(--button-orange-hover);
    border: 2px solid transparent;
    width: 100%;
    padding: 10px;
    color: white;
    transition: 0.3s;
}
.prof-nav ul li a.active{
    background-color: white;
    border: 2px solid var(--button-orange-hover);
    color: var(--button-orange-hover);
}
.prof-nav ul li a:not([class^="active"]):hover{
    background-color: var(--navmenu-orange-dark);
    color: white;
}


.prof-info{
    border-left: 2px solid var(--table-gray);
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 95%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.prof-info h2{
    margin-bottom: 10px;
}
.prof-info form{
    width: 100%;
}
.prof-info form div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.prof-info .business img{
    height: 120px;
    width: auto;
    background-color: #8a8b9f45;
    border-radius: 10px;
}
.prof-info .business .pcap{
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: left;
    gap: 10px;
}
div div.input{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* margin-top: 5px; */
}
div div.input.half{
    width: 48%;
}

input,select{
    /* position: relative; */
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 1px;
    border-radius: 5px;
    /* this was usefull */
    box-sizing: border-box;
    border: 2px solid var(--table-gray);
    /* font-family: Poppins; */
}
.filters{
    margin-top: 5px;
}
.filters div.input{
    display: flex;
    flex-direction: column;
}
.searchbox{
    margin-left: auto;
    display: flex;
}
.searchbox .searchbar{
    margin-top: auto;
    margin-left: 0px;
    border-left: none;
}
.searchbar:focus{
    outline: none;
}
.searchbox img{
    margin-top: auto;
    margin-bottom: 10px;
    background-color: var(--navmenu-orange-dark);
    height: 20px;
    padding: 10px;
    width: 20px;
    border-radius: 5px 0px 0px 5px;
}
.button{
    padding: 10px;
    border-radius: 10px;
    min-width: 100px;
    font-family: Poppins;
    background-color: var(--button-blue);
    color: white;
    transition: 0.3s;
}
.button:hover{
    background-color: var(--button-blue-hover);
}
.button.red{
    background-color: var(--cancel-red);
}
.button.red:hover{
    background-color: red;
}
label{
    font-weight: 500;
    color: #3d3d3d;
}
.dropdowndate{
    padding: 10px;
    border: 2px solid var(--navmenu-gray-dark);
    color: var(--black);
    background-color: white;
    border-radius: 5px;
    min-width: 150px;
    appearance: none;
    background-image:
    linear-gradient(45deg, transparent 50%, black 50%),
    linear-gradient(135deg, black 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
    background-position:
    calc(100% - 20px) calc(1em + 5px),
    calc(100% - 15px) calc(1em + 5px);
    background-size:
        5px 5px,
        5px 5px;
    background-repeat: no-repeat;
}
.btn-blue,
.btn-red{
    padding: 12px;
    background-color: var(--button-blue);
    color: white;
    border-radius: 10px;
    margin-left: auto;
    min-width: 100px;
    font-size: var(--mediums);
    transition: 0.3s;
}
.btn-red{
    background-color: var(--cancel-red);
}
.btn-red:hover{
    background-color: #e53131;
}


.btn-blue:hover,
.anchor-button:hover{
    background-color: var(--button-blue-hover);
}
.anchor-button{
    background-color: var(--button-blue);
    padding: 10px;
    color: white;
    transition: 0.3s;
    border-radius: 10px;
}
.gray{
    color: var(--navmenu-gray-dark);
}

.body-content .content-data{
    border: var(--button-orange-hover) solid 2px;
    border-top: 2px solid var(--button-orange-hover);
    box-sizing: border-box;
    /* padding: 15px; */
    /* height: 700px; */
    overflow-y: scroll;
    scroll-behavior: smooth;
    transition: transtionIn 2.5s;
}
.body-content .content-data:not(.notifications),
.body-content .content-data:not(.profile){
    /* border: var(--button-orange-hover) solid 2px; */
    /* border-top: transparent solid 0px; */
    box-sizing: border-box;
    /* padding: 15px; */
    height: 700px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    transition: transtionIn 2.5s;
}
.content-data.notifications{
    overflow-y: hidden;
}
.content-data.notifications ul{
    max-height: 700px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    transition: transtionIn 2.5s;
    padding: 10px 0px;
}
.body-content{
    overflow-y: scroll;
}
.body-content .content-data{
    border: 2px solid transparent;
}
/* notification css */
.notification{
    display: flex;
    flex-direction: row;
    /* background-color: rgb(243, 243, 243); */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
    border-radius: 10px;
    margin: 0px 10px;
    gap: 10px;
}
.notification img{
    height: 70px;
    width: 70px;
}
.notification div{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.content-data.notifications{
    border: 2px solid var(--button-orange-hover);
}
.content-data.notifications .notification .time{
    color: var(gray);
    margin-left: auto;
}
.notification h2{
    font-size: var(--mediums);
}
.no-notifications{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* customer-order-confirmations */
.confirmation{
    width: 450px;
    height: fit-content;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    gap: 10px;
    position: absolute;
    display: none;
    z-index: 2;
}
.confirmation.active{
    display: flex;
}
.confirmation h2{
    /* padding: 10px; */
    background-color: var(--navmenu-orange-dark);
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    color: white;
}
.confirmation img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 70px;
}
.confirmation p{
    width: 90%;
    text-align: center;
    padding: 5px;
}
.confirmation .buttons{
    display: flex;
    flex-direction: row;
    width: 55%;
    justify-content: center;
    gap: 20px;
}

.confirmation .delivery_charge_label{
   width: 400px;
}
.confirmation .delivery_charge_textbox{
    width: 400px;
 }

/* change delivery address pop up css */
/* .confirmation .delivery_address{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
}
.confirmation  #cancel_change_address{
    background-color: var(--cancel-red);
} */




.confirmation .buttons button{
    padding: 10px;
    background-color: var(--cancel-red);
    min-width: 100px;
    color: white;
    border-radius: 10px;
}

.confirmation .buttons button:last-child{
    background-color: var(--button-blue);
}
.confirmation form input{
    border: 2px solid var(--navmenu-gray-dark);
    /* width: 250px; */
}

/* progressbar css */
.skill {
    position: relative;
}

.skill .outer {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    padding: 10px;
    background-color: rgb(238, 238, 238);
    z-index: 0;
}

.skill .outer .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 90px;
    border-radius: 50%;
}

.skill .outer .inner .number {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    font-weight: 600;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #4fa0ff;
}

.skill circle {
    fill: none;
    stroke-width: 10px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    transition: 0.75s linear;
    stroke: #4fa0ff;
}

.skill svg {
    position: absolute;
    top: 0;
    left: 0;
    rotate: -90deg;
}

.empty-state{
    /* width: 100%; */
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 30px;
}

.placeholderimg{
    height: 200px;
    width: auto;
}