@keyframes transtionIn{
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }
    
    to {
        opacity: 1;
        transform: rotateX(0);
    }

}
:root{
    /* colors */
    --button-orange: #ffbb96;
    --cancel-red: #FF4D4D;
    --error-red: #c91919;
    --error-background: #ffecec;
    --accept-blue: #80B3FF;
    --table-gray: #EBEBEB;
    /* --navmenu-orange: #e9f8ff;
    --navmenu-blue: #e8f6ff;
    --navmenu-orange-dark: #6bb9f9;
    --button-orange-hover: #82c3f9; */

    --navmenu-orange: #fdf6f1;
    --navmenu-orange-dark: #fbaa3a;
    --button-orange-hover: #fab95f;

    --navmenu-gray-dark: #8A8B9F;
    --button-blue: #3E8CFF;
    --button-blue-hover: #1672fc;
    --white: #ffffff;
    --black: #000000;
    --logo-background: #ffde59;
    --shadow-wide: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --shadow-3d: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    --input-border: rgb(201, 201, 201) solid 1px;


    /* font sizes */
    --larger: 28px;
    --medium: 18px;
    --mediums: 16px;
    --small: 14px;
    --exsmall: 12px;
}

/* dashboard css */
.body-right .accordion{
    height: 350px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.body-right{
    overflow-y: unset;
}
.body-right img,
.body-left img{
    width: 100%;
}

.error-text a svg path{
    stroke: var(--error-red);
}

/* body content data css */
.body-content{
    padding-right: 80px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    /* background-color: var(--navmenu-orange); */
}
.body-content .top-panel{
    width: 100%;
}
.body-content .top-panel ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.body-content .content-data{
    border: var(--button-orange-hover) solid 2px;
    border-top: transparent solid 0px;
    box-sizing: border-box;
    padding: 15px;
    height: 600px;
    /* overflow-y: scroll; */
    /* scroll-behavior: smooth; */
    transition: transtionIn 2.5s;
}
.content-data .top-panel ul:last-child{
    border-top: white solid 2px;
}
.content-data ul li{
    margin-top: 10px;
}
.content-data ul li .order{
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: var(--button-orange-hover) solid 2px;
    border-radius: 10px;
    gap: 10px;
    margin-top: 5px;
}
.content-data ul li .order .head{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.content-data ul li .order .head .details{
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
}
.content-data ul li .order .head .details div{
    width: 50%;
}

/* stock css */
.littleproduct{
    height: 120px;
    width: 120px;
    border-radius: 10px;
    background-color: var(--table-gray);
}

/* order css */
.order .btn{
    min-width: 100px;
    background-color: var(--button-blue);
    color: white;
    border-radius: 10px;
    font-size: var(--mediums);
    margin-left: auto;
    transition: 0.3s;
}
.order .btn:hover{
    background-color: var(--button-blue-hover);
}
.order .head .arrow{
    border-radius:50%;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: rgb(193, 193, 193);
    margin-left: auto;
}
.order .head .arrow svg{
    padding: 10px;
    border-radius: 50%;
}
.order .info{
    height: 0px;
    overflow: hidden;
    transition: 0.5s ease-in;
}
.order.active .info{
    height: max-content;
    transition: 0.5s ease-in;
}
.order.active .head .arrow svg{
    rotate: 180deg;
}
.order .info div{
    width: 80%;
    display: flex;
    flex-direction: row;
}
.order .info div p{
    width: 50%;
}
/* .order .info table{
    width: 100%;
    text-align: center;
}
.order .info table tr th{
    text-align: center;
    padding: 10px;
    background-color: var(--table-gray);
}
.order .info table tr td{
    padding: 5px;
} */
.order .info .order-info{
    border-collapse: collapse;
}
.order .info .order-info tr th{
    background-color: #8A8B9F;
    text-align: left;;
    border: none;
}
.order .info .order-info tr td{
    background-color: var(--table-gray);
    text-align: left;
    border: none;
}



.verification{
    display: none;
    flex-direction: column;
    position: absolute;
    width: 400px;
    height: 300px;
    background-color: #f1f1f1;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    transition: 0.5s ease-in-out;
    z-index: 2;
}

.verification .box{
    width: 90%;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}
.verification h1{
    font-size: var(--large);
    color: #000000;
}
.verification button{
    padding: 10px 30px;
    background-color: var(--button-blue);
    border-radius: 5px;
    color: white;
    transition: 0.3s;
}
.verification button:hover{
    background-color: var(--button-blue-hover);
}
.verification .box img{
    margin-left: auto;
    width: 70px;
    height: auto;
}
.verification.active{
    transition: 1.5s ease-in-out;
    display: flex;
}





.top-panel ul:nth-child(2){
    margin-top: 2px;
}
.top-panel ul:nth-child(2) li a{
    border-radius: 0px 0px 0px 0px;
    border-top: transparent;
}
.search-bar{
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}
.search-bar input{
    border: var(--button-orange-hover) solid 2px;
    border-radius: 50px;
    width: 90%;
    padding: 10px;
    font-size: var(--mediums);
}
.search-bar button{
    padding: 7px;
    border-radius: 50px;
    background-color: var(--button-orange-hover);
    color: white;
    font-size: var(--mediums);
    width: 10%;
    transition: 0.3s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.search-bar button:hover{
    background-color: var(--navmenu-orange-dark);
}
.order .review div:last-child{
    padding: 10px;
    background-color: var(--navmenu-orange);
    border-radius: 10px;
}
.order.review .head .detials{
    width: 100%;
    justify-content: space-between;
}


/* .body-content .po tr{
    background-color: var(--table-gray);
}
.body-content table.po tr:nth-last-child(1):hover,
.body-content table.po tr:nth-last-child(2):hover{
    background-color: transparent;
}
.body-content table.po tr td:nth-child(3) input{
    padding: 8px;
    border-radius: 5px;
} */

.poitem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    margin: 5px 120px;
}
.poitem img{
    height: 120px;
    width: auto;
    background-color: #8a8b9f45;
    border-radius: 10px;
}
.poitem div p{
    color: var(--navmenu-gray-dark);
    font-weight: 600;
}
.poitem p{
    font-weight: 600;
}
.poitem h2:last-child{
    color: var(--button-blue);
    font-size: var(--medium);
}
.poitem .total h2{
    color: black;
    font-size: var(--medium);
    font-size: 12px;
}
.poitem button{
    min-width: 100px;
    font-size: var(--mediums);
    transition: 0.3s;
    color: black;
    border: solid 2px var(--navmenu-gray-dark);
    background-color: transparent;
    border-radius: 5px;
    padding: 10px 50px;
}
.poitem button:hover{
    background-color: var(--navmenu-gray-dark);
    color: white;
}

/* delivery css */
.person{
    border: 2px solid rgba(128, 128, 128, 0.187);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
}

.person img{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    object-fit: cover;
}

.person div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* notification css */
.notification{
    display: flex;
    flex-direction: column;
    background-color: rgb(243, 243, 243);
    padding: 10px;
    border-radius: 10px;
}
.notification h2{
    font-size: var(--mediums);
}