/* *,*::after,::before{
    margin: 0;
    padding: 0;
}

a,button,input[type="button"],input[type="file"]{
    cursor: pointer;
    text-decoration: none;
}

ul li{
    list-style-type: none;
}

table td{
    margin: 0;
    padding: 0;
} */

:root{
    /* colors */
    --button-orange: #ffbb96;
    --cancel-red: #FF4D4D;
    --error-red: #c91919;
    --error-background: #ffaeae;
    --accept-blue: #80B3FF;
    --table-gray: #EBEBEB;
    /* --navmenu-orange: #FFF8F3; */
    /* --navmenu-orange: #f3e9ff; */
    --navmenu-blue: #e8f6ff;
    --navmenu-orange: #fdf7f1;
    --navmenu-orange-dark: #ba740c;
    --button-orange-hover: #9c6109;
    --navmenu-gray-dark: #8A8B9F;
    --button-blue: #3E8CFF;
    --button-blue-hover: #1672fc;
    --toggle-blue: #2379faf3;
    --white: #ffffff;
    --black: #000000;
    --logo-background: #ffde59;
    --shadow-wide: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --shadow-3d: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    --input-border: rgb(201, 201, 201) solid 1px;


    /* font sizes */
    --larger: 28px;
    --medium: 18px;
    --mediums: 16px;
    --small: 14px;
    --exsmall: 12px;
}

/* 
@font-face{
    src: url(Poppins-Regular.ttf);
    font-family: poppins;
}

body{
    display: flex;
    flex-direction: row;
    background-color: var(--white);
    width: 100vw;
    height: 100vh;
    font-family: poppins;
    font-style: normal;
    font-size: var(--small);
} */

/* left panel css */
/* .leftpanel{
    width: 20%;
    max-width: 220px;
    background-color: var( --navmenu-orange);
    height: 100%;
    overflow-x: hidden;
}

.leftpanel .project-name{
    display: flex;
    align-items: center;
    padding: 15px;
    color: var(--navmenu-orange-dark);
    font-size: var(--larger);
    font-weight: bold;
    min-height: 15%;
    box-sizing: border-box;
}

.leftpanel ul .panel-tile{
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    font-size: var(--small);
    color: var(--navmenu-gray-dark);
}
.leftpanel ul .panel-tile:hover{
    color: var(--white);
    background-color: var(--button-orange-hover);
}
.leftpanel ul .panel-tile svg{
    min-width: 26px;
    min-height: 26px;
}
.leftpanel ul .panel-tile:hover svg path{
    stroke: var(--white);
}
.leftpanel ul li a h3{
    margin-left: 10px;
}

.leftpanel .nav-tiles .nav-tile .active{
    background-color: var(--button-orange-hover);
}
.leftpanel .nav-tiles .nav-tile .active h3{
    color: var(--white);
}
.leftpanel .nav-tiles .nav-tile a svg path{
    stroke: var(--navmenu-gray-dark);
}
.leftpanel .nav-tiles .nav-tile .active svg path{
    stroke: var(--white);
}
.leftpanel .nav-tiles .nav-tile:hover svg path{
    fill: var(--white);
} */


/* body section css */
/* .body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
} */

/* body header section css */
/* .body .body-header{
    display: flex;
    flex-direction: row;
    height: 15%;
    padding: 10px 80px 10px 40px;
    box-sizing: border-box;
}
.body-header-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.body-header-left .today{
    font-size: var(--exsmall);
    font-weight: 700;
    color: var(--navmenu-gray-dark);
}
.body-header-left .date{
    font-weight: 700;
    font-size: var(--medium);
}
.body-header-right{
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    gap: 10px;
} */
/* .body-header-right .bell{
    background-color: transparent;
    border: none;
    margin-right: 20px;
}
.body-header-right .profile,
.body-header-right .profile img{
    border: none;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.logout-menu {
    z-index: 1;
    display: none;
    position: absolute;
    top: 16%;
    right: 3%;
    width: 150px;
    border: #8A8B9F solid 1px;
    border-radius: 5px;
    background-color: var(--white);
} */
/* .logout-menu ul li{
    display: flex;;
    flex-direction: row;
    padding: 8px 10px;
}
.logout-menu ul li a{
    margin-left: 10px;
}
.logout-menu ul li:last-child svg path{
    stroke: var(--cancel-red);
}
.logout-menu ul li svg:hover{
    fill: none;
}
.logout-menu ul li:last-child a{
    color: var(--cancel-red);
}
.body-header-right svg path{
    stroke: var(--navmenu-orange-dark);
} */

/* onclick set this to fill */
/* .body-header-right svg:hover{
    fill: var(--navmenu-orange-dark);
}

.logout-menu::before{
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    rotate: 45deg;
    left: 58%;
    top: -12px;
    border-top: 15px solid var(--table-gray);
    border-left: 15px solid var(--table-gray);
    border-bottom: 15px solid transparent;
    border-right: 15px solid transparent;
} */
/* 
body.blur > *::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-color: Black;
    z-index: 1;
} */


/* body content css */
 .body-content{
    /* display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 10px 10px 10px 40px;
    height: 85%;
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth; */
    /* overflow-x:hidden;  
     overflow-y:hidden;  */
}
/*
.body-content::-webkit-scrollbar{
    display: hidden;
}

.top-panel ul{
    display: inline-flex;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.top-panel ul li{
    float: left;
    width: 100%;
    font-size: var(--medium);
    text-align: center;
}
.top-panel ul li a{
    box-sizing: border-box;
    display: block;
    padding: 10px 10px;
    width: 100%;
    height: 100%;
    color: var(--white);
    background-color: var(--button-orange-hover);

    border-top: solid transparent;
    border-bottom: solid transparent;
    border-right: solid transparent;
    border-left: solid transparent;
}

.top-panel ul li a:hover{
    background-color: var(--white);
    color: var(--button-orange-hover);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-top: solid var(--button-orange-hover);
    border-bottom: solid var(--button-orange-hover);
    border-right: solid var(--button-orange-hover);
    border-left: solid var(--button-orange-hover);
}
.top-panel ul li .active:hover{
    border-top: solid var(--button-orange-hover);
    border-bottom: solid transparent;
    border-right: solid var(--button-orange-hover);
    border-left: solid var(--button-orange-hover);
}
.top-panel ul li .active{
    background-color: var(--white);
    color: var(--button-orange-hover);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-top: solid var(--button-orange-hover);
    border-right: solid var(--button-orange-hover);
    border-left: solid var(--button-orange-hover);
}

.body-content .body-left{
    width: 60%;
    display: flex;
    flex-direction: column;
}

.body-right{
    box-sizing: border-box;
    width: 50%;
    margin: 0px 60px;
}

.body-right .accordion{
    padding-left: 10px;
    box-sizing: border-box;
    width: 100%;
    border: 2px solid var(--table-gray);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    transition: 0.5s ease;
}

.body-right .new{
    border: 2px solid var(--navmenu-orange-dark);
}
.body-right .dispatched{
    border: 2px solid var(--navmenu-gray-dark);
} */

.accordion .box{
    box-sizing: border-box;
    position: relative;
    border-radius: 5px;
    border: 2px solid black;
    /* border: var(--navmenu-orange-dark); */
    align-items: center;
    margin-top: 10px;
    padding: 5px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.accordion .box .labelbgn{
    box-sizing: border-box;
    font-size: 16px;
    width: 100%;
    height: 25px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 10px;
}

.accordion .box .label{
    box-sizing: border-box;
    font-size: 16px;
    width: 100%;
    height: 25px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 10px;
}

.accordion .box .label svg{
    width: 25px;
    height: 40px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.accordion .box.active .label svg{
    rotate: 180deg;
    color: white;
}
.accordion .box.active .label svg path{
    fill: white;
}

.accordion .box.active .label{
    background-color: var(--navmenu-orange-dark);
    color: white;
}

.accordion .box .content hr{
    color: var(--table-gray);
    margin: 10px 0px;
}

.accordion .box .content{
    box-sizing: border-box;
    position: relative;
    height: 0;
    overflow: hidden;
    transition: 0.3s ease;
    overflow-y: auto;
    padding-left: 10px;
}

.accordion .box.active .content{
    padding: 10px;
    height: max-content;
}

.accordion .box.active .content table{
    width: 100%;
    border-collapse: collapse;
}

.accordion .box.active .content table thead th{
    padding: 10px;
    background-color: #8A8B9F;
    text-align: left;
    color: white;
}

.accordion .box.active .content table tbody td{
    padding: 5px 10px;
}

.accordion .box.active .content table tbody tr:nth-child(odd){
    background-color: var(--table-gray);
}

a,button,input[type="button"],input[type="file"]{
    cursor: pointer;
    text-decoration: none;
}

select, input{
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white;
}


/* table tr{
    border: 1px solid black;
}

td:nth-child(3),
td:nth-child(4) {
    max-width: 100px;
    padding: 10px;
}  */

.variable{
    border: 2px solid var(--navmenu-orange-dark);
    padding: 10px;
    border-radius: 5px;
}

.variable .topic{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.box1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

#period {
    padding: 5px;
    border-radius: 10px;
    align-items: center;
}

.box2 {
    border-radius: 10px;
    text-align: center;
    padding: 30px;
    background-color: var(--navmenu-orange-dark);
}

.p1 {
    font-size: var(--larger);
}

.box4 {
    border: 2px solid var(--navmenu-orange-dark);
    padding: 10px;
    border-radius: 5px;
}
.box3 {
    margin-top: 40px;
    border: 2px solid var(--navmenu-orange-dark);
    padding: 10px;
    border-radius: 5px;
}

.content1 {
    padding: 10px;
}

.tab2 {
    border: 1px solid black;
    border-color:#875899 ;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin-right: 5px;
}

.tab2 p {
    padding: 3px;
}

.tab2 p svg {
    margin-left: 420px;
}

/* .top {
     overflow-x:hidden; 
     overflow-y:hidden;
} */

.top ul {
    display: inline-flex;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.top ul li {
    float: left;
    width: 100%;
    font-size: var(--mediums);
    text-align: center;
} 
 
.top ul li a {
    box-sizing: border-box;
    display: block;
    padding: 10px 10px;
    width: 100%;
    height: 100%;
    background-color:var( --navmenu-orange-dark);
    border-top: solid transparent;
    border-bottom: solid transparent;
    border-right: solid transparent;
    border-left: solid transparent;
    color: white;
}

.middle{
    padding:20px;
    background-color:var(--navmenu-orange);
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.middle ul {
    display: inline-flex;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.middle ul li {
    float: left;
    width: 100%;
    font-size: var(--mediums);
    text-align: center;
    background-color: var( --table-header);
    border-radius: 7px;
    padding: 3px;
    padding: 8px;    
}

.middle ul li a {
    color: white;
}


/* table {
    border-collapse: collapse;
    width: 100%;
} 

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 5px;
    text-align: left;
    color: black;
    width: 800px;
    border: 1px solid black;
    background-color: var(--navmenu-gray-dark);
} */

/* table td {
    padding: 8px;
    border: 1px solid black;
}

table tr:nth-child(even) {
    background-color:#f2f2f2 ;
}

table tr:hover {
    background-color: #ddd;
} */

.main{
    margin-top: 10px;
    padding: 10px;
    width: 100%;
}

.header {
    padding:3px;
    background-color:#DBD8FC ;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
}

.btn2-1 {
    width: 12%;
    border: none;
    padding: 10px;
    font-weight: bold;
    background-color: var(--button-orange-hover);
    color: white;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 88%;
}

.btn2-2 {
    width: 12%;
    border: none;
    padding: 10px;
    font-weight: bold;
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-left: 88%;
}

.btnclz {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.total {

    background-color: white;
    padding: 5px;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 20px;
    width: 20%;
    margin-left: 79%;
}

.total p {
    text-align: center;
}

.inside{
    padding: 12px;
    background-color: var(--button-orange-hover);
    color: white;
    border-radius: 10px;
    border: none;
    width: 15%;
    margin-top: 10px;
    margin-left: 85%;
}

.details {
    display: flex;
    /* flex-direction: column; */
    flex-direction: row;
    justify-content: space-between;
    margin-right: 35px;
}

.toptable {
    width:50%;

}

.toptable th {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 5px;
    text-align: left;
    color: black;
    width: 800px;
}

.toptable td {
    padding: 8px;
}

.dealerimg {
    width:50px;
    height: auto;
    border-radius: 50%;
}

.endtable {
   margin-top: 5px;
}

.second1 {
    width:29.5%;
    text-align: center;
}

.second1 {
    width: 69.5%;
}

/* toggle button */
.togglemain {
    /* position: absolute; */
    left: 7%;
    /* margin-left: 2%; */
    margin-right: 100%;
    transform: translate(-50%);
    height:50%;
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content:space-between; */
}

.togglemain .toggle {
    position: absolute;
    left: 120%;
    width: 70px;
    height: 30px;
    background-color: #444;
    border-radius: 30px;
    transition: 0.3s;
    /* align-items: center; */
}

.togglemain .toggle .toggle-button {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    background-color: var(--white);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.togglemain .toggle.active {
    background-color: var(--toggle-blue);
}

.togglemain .toggle.active .toggle-button {
    left: 60%;
}

.togglemain .text {
    font-size: var(--small);
}

.nofoundtxt {
    text-align: center;
    width: 100%;
    margin-top: 30px;
    font-size: var(--mediums);
    background-color: var(--navmenu-orange);
}

.littleproduct{
    width: 40%;
    height: auto;
}
