a,button{
    cursor: pointer;
    text-decoration: none;
}

.under_topbar{
    width: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;

}

.subtitle{
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    margin-left: 40px;
    font-size: var(--larger);
    font-weight:900;
    color: var(--navmenu-orange-dark);
}


.bank_details {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 20px;
    padding: 20px 0 20px 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    background-color: var(--table-gray);
    width: 90%;
    font-size: var(--medium);
    margin-right: 120px;
}


.upload_box{
    width: 91%;
    margin-left: 40px;
    margin-top: 50px;
    position: relative;
    /* padding: 20px; */
    
  }
  .upload_box .box_area{
    position: relative;
    height: 300px;
    padding: 20px;
    margin-right: 90px;
    width: 97%;
    border-radius: 10px;
    background: #fff;
    border: 2px dashed var(--navmenu-gray-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .upload_box.active{
    border: none;
  }
  .box_area .image{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .box_area img{
    /* height: 100%; */
    width: 100%;
    object-fit: cover;

  }
  .box_area .icon{
    font-size: var(--medium);
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  .box_area .text{
    font-size: 20px;
    font-weight: 500;
    color: #5B5B7B;
  }
  .box_area #cancel-btn svg{
    position: absolute;
    font-size: 20px;
    right: 15px;
    top: 15px;
    background-color:var(--button-orange);
    cursor: pointer;
    display: none;
    border-radius: 50%;
  }
  .box_area.active:hover #cancel-btn svg{
    display: block;
  }
  .box_area #cancel-btn svg:hover{
    background-color: var(--cancel-red);
  }
  .box_area .file-name{
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 8px 8px 0 8px;
    font-size: 18px;
    color: #fff;
    display: none;
    background: linear-gradient(135deg,var(--button-orange) 0%,var(--cancel-red) 100%);
  }
  .box_area.active:hover .file-name{
    display: block;
  }




  #custom-btn ,#next_btn , #back_btn{
    display: flex;
    width: 150px;
    padding: 10px;
    background-color: var(--white);
    border-radius: 10px;
    font-size: var(--mediums);
    font-weight: 700;
    color: black;
    align-items: center;
    justify-content: center;
    margin-bottom: 1px;
    cursor: pointer;
  }

  /* .custom_btn::-webkit-file-upload-button {
    
  } */

  #custom_btn::file-selector-button {
    visibility: hidden;
   
  }

  #custom-btn{
    border: 3px solid var(--button-blue);
    
  }
  #custom-btn:hover{
    background-color: var(--button-blue-hover);
    color: var(--white);
  }

  .buttons #next_btn{
    border: 3px solid var(--button-orange);
    
  }

  .buttons #next_btn:hover{
    background-color: var(--button-orange-hover);
    color: var(--white);
    
  }

  #back_btn{
    
    background-color: var(--navmenu-gray-dark);
    margin-right: 850px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    padding: 15px;
  }

  #back_btn:hover{
    border: 3px solid var(--navmenu-gray-dark);
    background-color: var(--white);
    color: var(--black);
    
  }


  .buttons{
    display: flex;
    flex-direction: row;
    justify-content: right;
    column-gap: 20px;
    padding-top: 20px;
  }



