/* under topbar css */
a,button{
    cursor: pointer;
    text-decoration: none;
}

.under_topbar{
    height: 87%;
}

.subtitle{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    margin-left: 40px;
    font-size: var(--larger);
    font-weight:900;
    color: var(--navmenu-orange-dark);
}

/* all reservations table css */
.table{
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-bottom: 20px;
    margin: 20px 90px 0px 40px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    height: 80%;

}

/* not found results image */
.table img{
    width: 700px;
    height: 400px;
}

/* search bar css */
.searchbox{
    margin-left: auto;
    display: flex;
    max-width: fit-content;
    margin-right: 90px;
}
.searchbox .searchbar{
    margin-top: auto;
    margin-left: 0px;
    border-left: none;
}
.searchbar:focus{
    outline: none;
}
.searchbox img{
    margin-top: auto;
    margin-bottom: 10px;
    background-color: var(--navmenu-orange-dark);
    height: 20px;
    padding: 10px;
    width: 20px;
    border-radius: 5px 0px 0px 5px;
}
