/* under topbar css */

a,button{
    cursor: pointer;
    text-decoration: none;
}

.subtitle{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    margin-left: 40px;
    font-size: var(--larger);
    font-weight:900;
    color: var(--navmenu-orange-dark);
}

/* full card css */
.card{
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 87%;
    width: 90%;
    margin: 20px 50px 0px 40px;
    border: 3px solid var(--navmenu-gray-dark);
    border-radius: 0 0 5px 5px;
}

.card .btn button{
    border: none;
    border-radius: 5px;
    font-weight: 600;
    color: var(--white);
    width: 120px;
    height: 50px;  
}

.btn{
    display: flex;
    justify-content: right;
    margin: 10px 100px 10px 0px;
}

.btn .review_btn {
    background-color:var(--button-blue);
}

.btn .cancel{
    background-color: var(--cancel-red);
}

.order_card{
    border: none;
    box-shadow: var(--cardshadow-black);
    max-height: 87%;
}

.order_card .card_top{
    display: flex;
    flex-direction: row;
    background-color: var(--navmenu-gray-dark);
    color: var(--white);
    height: 50px;
    justify-content: space-between;
}

.top_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 20px 10px 20px;
}

.bottom_all{
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 500px;
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

.card_bottom {
    display: flex;
    flex-direction: row;
    margin: 20px 0 10px 20px;
    column-gap: 10px;
}



/* ....................................completed,dispatched,delivered orders card with review option........................................ */
/* review side css */
.card_bottom .review_side{
    display: flex;
    flex-direction:column;
    width: 50%;
    margin:0px 10px 0px 0;
}

.card_bottom .review_side .review_box{
    padding: 5px;
    border: solid var(--button-orange-hover);
    border-radius: 5px;
    font-size: var(--small);
    margin-bottom: 10px;
    
}
.card_bottom .review_side .review_box .content {
    overflow-wrap: break-word;
    hyphens: manual;
}

.card_bottom .review_side .review_box .date{
    display: flex;
    justify-content: right;
}

.review_btn button{
    width: 100%;
    margin:10px 10px 0px 0;
    padding: 10px;
    background-color: var(--button-blue);
    border: none;
    border-radius: 5px;
    color: var(--white);
    font-size: var(--mediums);

}

.back_btn button{
    width: 100%;
    margin:10px 10px 0px 0;
    padding: 10px;
    background-color: var(--button-orange);
    border: none;
    border-radius: 5px;
    color: var(--white);
    font-size: var(--mediums);

}


.bbtn:hover{
    background-color: var(--button-orange-hover);
}

.rbtn:hover{
    background-color: var(--button-blue-hover);
}




/* item side css */
.card_bottom .item_side{
    display: flex;
    flex-direction:column;
    width: 50%;
    margin-bottom: 1px;
}
 
.item{
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    border: solid var( --table-gray);
     margin: 3px; 
 }

.item p{
    font-size: var(--small);
}

.item .item_img{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.item .item_content{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    width: 60%;
}

.item .item_content div{
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    align-items: center;
}

.item_img img{
    width: 80px;
    height: 100px;
}






/* ........................................pending,accepted orders card bottom with cancel option ...........................................*/
.cancel_card_bottom {
    display: flex;
    flex-direction: row;
    margin: 20px 0 10px 50px;
    column-gap: 10px;
    align-items: center;
    
}
.cancel_card_bottom .cancel_item_side{
    display: flex;
    flex-direction:column;
    width: 80%;
    margin:0 0 1px 60px;
}

.cancel_btn button{
    width: 100%;
    padding: 10px;
    margin:10px 10px 0px 0;
    background-color: var(--error-red);
    border: none;
    border-radius: 5px;
    color: var(--white);
    font-size: var(--mediums);
    align-items: center;
} 

.cancel_btn :hover{
    background-color: var(--cancel-red);
}




.after_card_top,.after_dealer_delivery_details{
    display: flex;
    align-items: center;
    padding-left: 20px;
    
  
}

.profile_details,.delivery_details,.cancel_details{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    padding: 10px;
    align-items: center;
    width: 100%;
}


/* profile buttons */
.d_btn{
    background-color: var(--button-blue);
    color: var(--white);
    font-size: var(--mediums);
    font-weight: 600;
    border-radius: 10px;
    padding: 10px 35px 10px 35px;
}

.d_btn:hover{
    background-color: var(--button-blue-hover);
}

.cancel_details{
    column-gap: 30px;
}




.verification{
    display: none;
    flex-direction: column;
    position: absolute;
    width: 400px;
    height: 300px;
    background-color: #f1f1f1;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    transition: 0.5s ease-in-out;
    z-index: 2;
}

.verification .box{
    width: 90%;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}
.verification h1{
    font-size: var(--large);
    color: #000000;
}
.verification button{
    padding: 10px 30px;
    background-color: var(--button-blue);
    border-radius: 5px;
    color: white;
    transition: 0.3s;
}
.verification button:hover{
    background-color: var(--button-blue-hover);
}
.verification .box img{
    margin-left: auto;
    width: 70px;
    height: auto;
}
.verification.active{
    transition: 1.5s ease-in-out;
    display: flex;
}
