a,button{
    cursor: pointer;
    text-decoration: none;
}

.under_topbar{
    width: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;

}

.title{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    margin-left: 40px;
    font-size: var(--larger);
    font-weight:900;
    color: var(--navmenu-orange-dark);
}

.subtitle{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    margin-left: 40px;
    font-size: var(--medium);
    font-weight:900;
    color: var(--navmenu-orange-dark);
}



/* product list css */
.product_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 40px;
    padding-bottom: 20px;

}

.product_card{

    width: 20%;
    min-width: 250px;
    padding: 10px 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    transition: 0.3s ease;
}


.product_card:hover{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px -1px, rgba(0, 0, 0, 0.15) 0px 2px 12px -1px;
}

.product_img{
    display: flex;
    flex-direction: column; 
    align-items: center;
    background-color: var(--table-gray);
}

.product_card img{
     width: 100%;
     height: 100%;
    border-radius: 5px;
}

.product_details{
    margin-top: 5px;
}
.brand_name{
    color: #71717f;
    font-size: 12px;
}
.name h5{
    color: #71717f;
    font-size: var(--mediums);
}

.price h4{
    font-size: 15px;
    font-weight: 900;
    color: var(--currency);
}



