a,button{
    cursor: pointer;
    text-decoration: none;
}

/* subtitle "Add review for dealer" */
.subtitle{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    margin-left: 40px;
    font-size: var(--larger);
    font-weight:900;
    color: var(--navmenu-orange-dark);
}


/* Reservation details to select review type */
.order_detail{
    display: flex;
    flex-direction: column;
    background-color:var(--cancel-lightred);
    width: 80%;
    border-radius: 5px;
    box-shadow: var(--card_shadow);
}
.order_detail h3{
    font-size: var(--medium);
    font-weight: 900;
}

.radio{
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding: 20px;
}


/* Write review section */
 .write_review{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 88%;
    padding: 20px;
    margin-left: 40px;
    border-radius: 5px;
    background-color: var(--button-orange);
    box-shadow: var(--card_shadow);
   
}

.write_box textarea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 99%;
    border-radius: 5px;
    box-shadow:var(--card_shadow) ;
    border: none;
    resize: none;
    padding-left: 10px;
    padding-top: 10px;
    font-size: var(--mediums);
    color: var(--placeholder-grey);
}

/* write box buttons */
.btn{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    justify-content: right;
    align-items: center;
    padding-top: 10px;   
}
.btn button{
    border: none;
    border-radius: 5px;
    font-size: var(--mediums);
    color: var(--white);
    width: 100%;
    padding: 10px;
    cursor: pointer;
    align-items: center;
    
}

#cancel{
    background-color: var(--error-red); 
}

#cancel:hover{
    background-color: var(--cancel-red);
}
#send{
    background-color: var(--button-blue);
} 

#send:hover{
    background-color: var(--button-blue-hover);
}

/* error message */
/* form .error-txt{
    color: #721c24;
    background-color: #f8d7da;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #f5c6cb;
    display: none;
} */


