a,button{
    cursor: pointer;
    text-decoration: none;
}

.under_topbar{
    width: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;

}

.subtitle{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    margin-left: 40px;
    font-size: var(--larger);
    font-weight:900;
    color: var( --navmenu-orange-dark);
}

.content{
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    margin-right: 80px;
    /* column-gap: 20px; */
    
}

#quota_form{
    display: flex;
    column-gap: 100px;
}

.all_company{
    display: flex;
    flex-wrap: wrap;
}

/* quota details */
.one_company{
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    margin-left: 40px;
    column-gap: 50px;
}
  
.company_details{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}
  
.company_details .name{
    font-size: var(--large);
    color: var(--navmenu-orange-dark);
    font-weight: 800;
    font-size: var(--larger);
    align-items: center;
    /* display: flex;
    justify-content: center; */
}
  
.company_details .date{
    display: flex;
    font-size: small;
    font-weight: 800;
    padding-top: 20px;
    /* justify-content: right; */
    /* padding-right: 150px; */
}
  
  
.company_quota{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
}
  
.company_quota .logo{
    padding: 10px;
    border-radius: 5px;
    background-color: var(--navmenu-blue);
    
}
  
.company_quota img{
    width: 120px;
    height: 120px;
   
}

.quota-bars{
    padding: 5px 25px 5px;
    width:500px ;
    min-height: 320px;
    background: #fff;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    border-radius: 10px;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.quota_logo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 20px;
    background-color: white;

}

.quota-bars .bar{
    margin: 15px 0;
    display: flex;
    flex-direction: column;
   
}

.bar .total_dropdown{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}




.bar .total{
    display: flex;
    align-items: right;
    justify-content: left;
    padding-bottom:25px ;
    
}
  
.bottom_details{
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding-top: 15px;
  }
  
.bottom_details .days{   
    font-size: small;
} 

.remaining{
    padding-top: 10px;
}




 