/* under topbar css */

a,button{
    cursor: pointer;
    text-decoration: none;
}

.under_topbar{
    width: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;

}
.subtitle{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    margin-left: 40px;
    font-size: var(--larger);
    font-weight:900;
    color: var(--navmenu-orange-dark);
}



/* top dealer details and image */

.top_details{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 30px;
    column-gap: 80px;
  }

  .top_details .profile_pic{
    width: 30%;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    word-wrap: normal;
    
  }

  .profile_pic img{
    width: 250px;
    height: 250px;
    border-radius: 5px;
  }



/* details table  */
  .detail_table{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 70%;
    margin-right: 90px;
}

.detail_table table , .product_table table{
    box-sizing: border-box;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    
}

.detail_table table td , .product_table table td{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-align:left;
}

.detail_table table tr:nth-child(odd):hover{
    background-color: var(--button-orange-hover);
}

.detail_table table td:not(:nth-child(3)){
    padding: 10px 5px 10px 80px;
}
.detail_table table tr:nth-last-child(2) td:nth-child(3){
    padding: 10px 5px 10px 0;
}
.detail_table table tr:nth-child(odd){
    background-color: var(--button-orange);
}
.detail_table .po tr:nth-last-child(1),
.content-data .po tr:nth-last-child(2){
    background-color: transparent;
}
.detail_table table tr:nth-last-child(1) td:nth-child(4){
    padding: 0;
}



/* product availability table */


.product_table{
   
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-left: 40px;
    margin-right: 90px;
    margin-bottom: 30px;
}

.product_table table th{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: none;
    height: 50px;
    color: white;
    font-size: var(--medium);
    padding-left: 230px;
    text-align: left;
    background-color: var(--navmenu-gray-dark);
    
}

.product_table table td:not(:nth-child(3)){
    padding: 10px 5px 10px 240px;
}
.product_table table tr:nth-last-child(2) td:nth-child(3){
    padding: 10px 5px 10px 0px;
}
.product_table table tr:nth-child(odd){
    background-color: var(--table-gray);
}

.product_table table tr:nth-child(odd):hover{
    background-color:  rgb(204, 204, 204);
}

.product_table .po tr:nth-last-child(1){
    background-color: transparent;
}
.product_table table tr:nth-last-child(1) td:nth-child(4){
    padding: 0;
}




/* bottom part css */
.bottom{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: right;
    margin-right: 80px;
}

.bottom .btn{ 
    display: flex;
    width: 200px;
    padding: 10px;
    background-color: var(--button-orange);
    border-radius: 5px;
    font-size: var(--mediums);
    font-weight: 700;
    color: white;
    align-items: center;
    justify-content: center;
}

.bottom .btn:hover{
    background-color: var(--button-orange-hover);
}