/* under topbar css */

a,button{
    cursor: pointer;
    text-decoration: none;
}

.under_topbar{
    width: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    
}
.subtitle{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    margin-left: 40px;
    font-size: var(--larger);
    font-weight:900;
    color: var(--navmenu-orange-dark);
}


/* dropdown boxes css */
.drop_down{
    display: flex;
    flex-direction: row;
    column-gap: 90px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-left: 40px;

}

.branddropdown,.citydropdown{
    width: 300px;
    font-size: var(--medium);
    
    
}



/* table css */
.table{  
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0px 90px 0px 40px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    height: 75%;
}

